<ion-view view-title="Ajustes">
  <ion-content>
    <div class="list">
	  <a class="item" style="color:red" ng-click="clearFavoritos()">
	    Limpar Todos os Favoritos
	  </a>
	  <ion-item class="item item-icon-right" href="#" ng-click="sendEmail()">
		<h2>Enviar Comentários</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	  
	  <div class="item item-divider">
	  </div>
	
	  <a class="item" href="#">
	    Versão
	    <span class="item-note">
	      {{versao}}
	    </span>
	  </a>
	  
	  <ion-item class="item item-icon-right" href="#">
		<h2>Política de Privacidade</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</div>
	
	<div style="text-align:center">
		<img src="img/oftap.png" width="70px"/>
	</div>
  </ion-content>
</ion-view>
