<ion-view view-title="{{titulo}}">
  <ion-content>
    <ion-list>
	  <ion-item class="item item-text-wrap item-icon-right" ng-repeat="nivel2 in niveis2" ng-click="proximoPasso(nivel2.id, nivel2.name, nivel2.id_texto)">
		<h2>{{nivel2.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>