<ion-view view-title="{{titulo}}">
  <ion-content>
    <ion-list>
	  <ion-item class="item item-text-wrap item-icon-right" ng-repeat="nivel3 in niveis3" ng-click="proximoPasso(nivel3.id, nivel3.name, nivel3.id_texto)">
		<h2>{{nivel3.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>