<ion-view view-title="{{titulo}}">
  <ion-content>
    <ion-list>
	  <ion-item class="item item-text-wrap item-icon-right" ng-repeat="nivel1 in niveis1" ng-click="proximoPasso(nivel1.id, nivel1.name, nivel1.id_texto)">
		<h2>{{nivel1.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>