<ion-view view-title="{{titulo}}">
  <ion-content>
    <ion-list>
	  <ion-item class="item item-text-wrap item-icon-right" ng-repeat="nivel4 in niveis4" ng-click="proximoPasso(nivel4.id_texto, nivel4.name)">
		<h2>{{nivel4.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>