<ion-view view-title="{{titulo}}">
    <ion-content>
        <div class="list card" ng-repeat="remedio in remedios">

            <div class="item item-text-wrap item-thumbnail-left">
                <img src="img/remedios/{{remedio.foto}}">
                <h2>{{remedio.name}}</h2>
                <p>{{remedio.lab}}</p>
                <h6>{{remedio.PA}}</h6>
                <h6>{{remedio.A}}</h6>
            </div>

        </div>
    </ion-content>
</ion-view>