<ion-view view-title="Condutas">
  <ion-content>
  	<div class="bar bar-header item-input-inset bar-stable" style="height:35px;">
	  <label class="item-input-wrapper" style="background-color:white;margin-top: 0px !important;">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="search" style="height:20px; text-align:center;" ng-model="searchConduta" id="searchConduta" ng-change="searchCondutas()" placeholder="Pesquisar ...">
	  </label>
	</div>
    <ion-list>
	  <ion-item class="item item-avatar-left item-icon-right" ng-repeat="conduta in condutas" ng-click="proximoPasso(conduta.id, conduta.name,conduta.id_texto)">
		<img src="img/condutas/{{conduta.foto}}">
		<h2 class="conduta">{{conduta.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
