<ion-view view-title="Pesquisar">
  <ion-content>
    <div class="list">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Pesquisar">
	  </label>
	</div>
	<div class="tabs-striped tabs-top tabs-background-stable tabs-color">
    <div class="tabs">
      <a class="tab-item active" href="#">
        Tudo
      </a>
      <a class="tab-item" href="#">
        Condutas
      </a>
      <a class="tab-item" href="#">
        Remédios
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
