<ion-view view-title="Favoritos">
  <ion-content>
    <ion-list>
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat="favorito in favoritos" ng-click="proximoPasso(favorito)">
		<h2>{{favorito.name}}</h2>
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
    </ion-list>
    <div style="text-align:center" ng-show="favoritos == 0">
    	<h5>Sem favoritos.</h5>
    </div>
  </ion-content>
</ion-view>
