<ion-view view-title="Remédios">
	<ion-content>
		<div class="bar bar-header item-input-inset bar-stable" style="height:35px;">
			<label class="item-input-wrapper" style="background-color:white;margin-top: 0px !important;">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" style="height:20px; text-align:center;" ng-model="searchRemedio" id="searchRemedio" ng-change="searchRemedios()" placeholder="Pesquisar ...">
			</label>
		</div>
		<ion-list ng-show="categorias && remedios.length == 0 && !searchRemedio">
			<ion-item class="item item-icon-right" ng-repeat="categoria in categorias" ng-click="proximoPasso(categoria.id, categoria.name)">
				<h2>{{categoria.name}}</h2>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		<div class="list card" ng-show="remedios" ng-repeat="remedio in remedios">

			<div class="item item-thumbnail-left">
				<img ng-src="img/remedios/{{remedio.foto}}" />
				<label class="item-text-wrap"><h2>{{remedio.name}}</h2></label>
				<label class="item-text-wrap"><p class="item-text-wrap">{{remedio.lab}}</p></label>
				<h6>PA: Autato de prednisolona 10%</h6>
				<h6>A: Colírio</h6>
			</div>

		</div>
		<div style="text-align:center" ng-show="searchRemedio && remedios.length == 0">
			<h5>Pesquisa não retornou remédios.</h5>
		</div>
	</ion-content>
</ion-view>
