<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">


  <!-- Dashboard Tab -->
  <ion-tab title="Condutas" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Favoritos" icon-off="ion-ios7-star-outline" icon-on="ion-ios7-star" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Remédios" icon-off="ion-ios7-medkit-outline" icon-on="ion-ios7-medkit" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab 
  <ion-tab title="Pesquisar" icon-off="ion-ios7-search" icon-on="ion-ios7-search" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  -->
  
  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-ios7-cog-outline" icon-on="ion-ios7-cog" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
