<ion-modal-view>
	<ion-header-bar class="bar bar-stable bar-calm">
	  <h1 class="title">Remédio</h1>
	  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
	  <div class="list card">

		  <div class="item item-avatar">
		    <i class="icon ion-medkit"></i>
		    <h2>Tropicamida</h2>
		    <p>Johnson & Johnson</p>
		  </div>
		
		  <div class="item item-image">
		    <img src="img/remedios/atropina.jpg">
		  </div>
		
		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-ios7-cart"></i>
		      Comprar
		    </a>
		    
		    <a class="tab-item" href="#">
		      <i class="icon ion-printer"></i>
		      Imprimir
		    </a>
		  </div>
		
		</div>
		
		<button class="button button-block button-outline button-calm" ng-click="modal.hide()">
		  	Voltar
		</button>
	</ion-content>
</ion-modal-view>