<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Abrasão Corneana
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Agudamente doloroso
	  </div>

	  <div class="item item-text-wrap justify">
		- Pingue uma gota de mistura de anestésico tópico e fluoresceína, para permitir um
		melhor exame.
	  </div>

	  <div class="item item-text-wrap justify">
		- Registre a acuidade visual.
	  </div>

	  <div class="item item-text-wrap justify">
		- A córnea com abrasão aparece em cor esverdeada sob luz azul de cobalto quanto tingida pela fluoresceína.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Verifique se há corpo estranho na córnea: deve-se everter a pálpebra superior em todos os casos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Remova os corpos estranhos: partículas subtarsais podem ser removidas com cotonete, corpos estranhos corneanos requerem remoção
		com agulha.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Alivie a dor provocada por espasmo iriano com cicloplégico 2x por dia por 2 dias.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Aplique pomada antibiótico dentro do fórnice conjuntival.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Dobre uma gaze na metade e aplique sobre o olho afetado.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Aplique outra gaze sobre a última e passe fita adesiva firmemente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Deixe as gazes no lugar por 24h: elas podem não acelerar o processo de cicatrização, mas melhoram o conforto.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Na alta hospitalar, deixe o paciente com pomada antibiótico recomendando o uso 4x por dia durante 5 dias, iniciando após
		24h.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Avise ao paciente que o olho poderá ficar doloroso ao passar o efeito do anestésico tópico - geralmente 1h.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Analgesia oral, se necessário.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Cicatrização completa em geral dentro de 48h.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Observações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não faça curativo em crianças. Ela o arrancará!
		  </div>
		  <div class="item item-text-wrap justify">
		    - Discutir com especialistas grandes abrasões (acima 30% da superfície corneana total), casos bilaterais e crianças.
		  </div>
	  </div>

</ion-content>
