<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Arterite temporal
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - É uma neuropatia óptica isquêmica anterior (NOIA) arterítica. Ocorre o bloqueio das artérias que suprem o nervo óptico secundário
	    à inflamação arterial.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer perda visual profunda, defeito pupilar aferente, edema de disco óptico, hemorragias e exsudatos algodonosos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Ocorre normalmente em maiores de 65 anos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - As características incluem: cefaléia, rigidez de nuca, artérias temporais inflamadas e nodulares, emagrecimento e fraqueza, dor na
	    cintura escapular, claudicação mandibular (dor à mastigação).
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documentar acuidade visual em cada olho. Usar buraco estenopeico se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examinar defeito pupilar aferente e documentar.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Nervo óptico frequentemente pálido, edemaciado e com pequenas hemorragias; a retina pode estar pálida com mácula vermelho-cereja,
		    se uma oclusão arterial estiver presente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Hidrocortisona 200mg, EV, imediatamente ou metilprednisolona 1,0-1,5g, EV, em 30 minutos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Corticóide oral 60-80g se a medicação acima não estiver disponível, por 3 dias e então reduzir lentamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tomar precauções adequadas antes de iniciar altas doses de corticóides em hipertensos e pacientes com história de úlcera péptica.
		    Cobrir este último grupo com ranitidina 150mg ou lansoprazol 30mg, 2x ao dia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Solicitar VHS (velocidade de hemossedimentação) e proteína C reativa.
		  </div>
	   </div>

</ion-content>
