<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Blefarite
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Alteração palpebral extremamente comum. Leva a irritação ocular bilateral ao invés de dor.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Margens palpebrais com crostas vermelhas espessadas.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - As exacerbações agudas são comuns.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Os cílios podem estar emaranhados, ter crostas e pequenos flocos de pele aderente coladas.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avise o paciente que o quadro é crônico e o tratamento destina-se a aliviar os sintomas, mas não resolverá o problema
		    subjacente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core com fluoresceína e procure úlceras marginais de córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se as pálpebras estiverem injetadas, iniciar pomada de antibiótico, 3x por dia. A pomada deve ser passada energicamente
		    nas margens palpebrais na base dos cílios por 3 semanas. Não há necessidade de instilá-la no interior do olho.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Higiene palpebral. Aconselhe o paciente a limpar as margens palpebrais totalmente, pela manhã e à noite, da seguinte maneira:
		    <br />
		    * puxando a pele externa às margens palpebrais para o lado para deixar as pálpebras sob tensão.<br />
		    * com um tecido limpo, lenço de algodão ou flanela umedecidos em solução salina suave (uma colher de chá de sal em um copo de
		    água fervida gelada) ou um xampu infantil. Esfregar energicamente para remover a gordura e o resíduos associados ao quadro,
		    evitando, porém, tocar o olho propriamente dito.<br />
		    * continuar o tratamento indefinidamente.<br />
		    * não usar algodão ou cotonetes. Eles podem deixar resíduos no olho.
		  </div>
	   </div>

</ion-content>
