<ion-content>
	
	  <div class="item item-divider">
	    <i class="icon ion-checkmark"></i>&nbsp; Catarata
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Causa mais comum da perda visual crônica.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A maioria dos casos é relacionada à idade - catarata senil. Pode ocorrer por trauma.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode afetar visão para longe e/ou perto, unilateral/bilateral.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Ofuscamento e obscurecimento ao redor de objetos são os sintomas mais comuns.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A perda de visão periférica e central ocorre em meses ou anos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dificuldade aumenta na exposição solar ou na leitura.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Exames e abordagem
		  </div>
		  <div class="item item-text-wrap justify">
		    - Medir a acuidade visual.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Realize teste de buraco estenopeico, se estiver sem os óculos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procure reflexo vermelho. Se obscurecido pode indicar catarata.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Fundoscopia poderá ser difícil ou impossível. 
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procure opacidade de cristalino, se a lâmpada de fenda estiver disponível.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dilatar a pupila com midriático, se necessário.
		  </div>
	  </div>

</ion-content>
