<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Celulite orbitária
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Eritema difuso e infecção podem rapidamente seguir uma infecção localizada, levando à celulite pré-septal, que pode ser fatal, se
	    não tratada adequadamente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Arranhões, mordidas de insetos, cílios epilados podem ser causas de origem de infecções.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Analisar histórico de foliculite, infecção palpebral, sinusite e infecção do trato respiratório superior e particularmente do seio
	    etmoidal em crianças. Estas podem desenvolver rapidamente sintomas sistêmicos.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Exame
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documente a acuidade visual em ambos os olhos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procure fontes de infecção, como hordéolo, arranhão ou abrasão palpebral.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique a mobilidade ocular. A restrição leva à visão dupla e indica celulite orbital.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Faça um teste de visão dupla com um alvo a pelo menos 30 cm de distância do paciente. Se ficar muito próximo, a visão dupla
		    fisiológica será induzida.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Os movimentos oculares restritos e dolorosos ocorrem com a celulite orbital e o olho pode ficar vermelho e com quemose.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique e documente as reações pupilares. Um defeito aferente pode ocorrer na celulite orbital, decorrente de compressão do
		    nervo óptico.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - As crianças devem ser internadas imediatamente para receberem antibióticos sistêmicos sob cuidados pediátricos e realizarem
		    tomografia computadorizada e ressonância magnética de cabeça, seios da face e órbita.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver diplopia e redução de visão ou defeito aferente da pupila, o paciente adulto deve ser internado para administração
		    de antibióticos por via intravenosa.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Marque TC e RM da cabeça, seios da face e órbita.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se não houver sinais sistêmicos ou oculares além do comprometimento palpebral, trate com antibióticos orais, como cefalexina,
		    500 mg, 4x por dia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Radiografia de órbita se houver histórico de sinusite ou trauma anterior.
		  </div>
	   </div>

</ion-content>
