<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Ceratoconjuntivite viral
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Comumente associada à infecção das vias respiratórias superiores.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Em geral, contato com indivíduos infectados.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - O organismo comum é um adenovírus.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer ulceração dendrítica em caso de imunossupressão
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instile anestesia tópica se o paciente não conseguir abrir os
		    olhos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core a córnea com fluoresceína.
		  </div>
		  <div class="item item-text-wrap justify">
		    - O adenovírus cora levemente como múltiplos pontos, que são vistos melhor à lâmpada de fenda. As úlceras dendríticas têm um
		    padrão peculiar ramificado.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver suspeita de adenovírus, prescreva colírio antibiótico 4x por dia em cada olho para evitar infecção secundária
		    durante duas semanas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Nos casos graves, acrescente midriático 2x por dia. Avise o paciente que ele pode ficar com a visão borrada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Podem ser usados lubrificantes tópicos para proporcionar alívio.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Em geral são necessários colírios de corticóides.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver úlceras dendríticas, tratar com pomadas de zovirax 3%, 5x por dia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Lave minuciosamente suas mãos. O adenovírus é extremamente contagioso e se dissemina com facilidade.
		  </div>
	   </div>

</ion-content>
