<ion-content>
	
	  <div class="item item-divider ">
	    Cirurgia refrativa -  Excimer laser
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - O excimer laser quebra ligações moleculares e vaporiza o tecido. Possui duas principais técnicas, ambas utilizadas para correção de
	    miopia e menos frequentemente para correção de hipermetropia e astigmatismo.
	  </div>
	  
	  <div class="item item-divider ">
	    LASIK
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - <i>Laser-Assisted in Situ Keratomileusis</i>: melhor técnica para altos erros refrativos; causa pouco ou nenhum desconforto
	    pós-operatório.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Técnica cirúrgica
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avaliação pré-operatória extensiva.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anestesia tópica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Confecção de flap corneano de espessura parcial com utilização de microcerátomo.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Exposição de estroma corneano residual.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplicação de laser.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Reposição de flap corneano.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antibiótico e corticosteróide tópicos, lubrificante.<br />
		    	1. Colírio de corticoide 3x ao dia.<br />
		    	2. Colirio de antibiótico 3x ao dia.<br />
		    	3. A combinação também pode ser utilizada.<br />
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Complicações
		  </div>
		  <div class="item item-text-wrap justify">
		    - A maioria são intra-operatória e estão relacionados com o flap corneano, como flap incompleto, "brutton role" - buraco central
		    no flap, ou incisão completa do flap.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor, lacrimejamento e visão tomada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Hipercorreção ou recorrência.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Infecção e inflamação.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Olho seco, halos e glare.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor após LASIK não é normal. Geralmente um leve desconforto perdura por 24h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Assegure utilização correta de medicação pós-operatória.
		  </div>
		  <div class="item item-text-wrap justify">
		    - O flap corneano pode estar descolado ou ausente em casos de trauma ou ao esfregar os olhos. Examinar na lâmpada de fenda.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Poderá haver abrasão no flap corneano.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Opacidades focais com dor e olho vermelho indicam infecção e devem ser tratadas como úlcera.
		  </div>
	  </div>
	  
	  <div class="item item-divider ">
	    PRK
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - photorefractive keratectomy: utilizada para menores erros refrativos. Geralmente doloroso até 48h no pós-operatório. Longo
	    período de recuperação.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Técnica cirúrgica
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avaliação pre-operatória extensiva.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anestesia tópica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Remoção do epitélio corneano.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplicação de laser no estroma da córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antibiótico e corticosteróide tópicos.<br />
			  1. Colírio de corticoide 3x ao dia.<br />
			  2. Colirio de antibiótico 3x ao dia.<br />
			  3. A combinação também pode ser utilizada.<br />
		  </div>
		  <div class="item item-text-wrap justify">
		    - Oclusão ocular por 24h.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Complicações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Precoces: dor (pode ser intensa durante cicatrização epitelial - resolução em 48h); visão borrada (pode persistir por 2
		    semanas ou mais); infecção (raro).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tardio: glare, halos, múltiplas imagens (secundário à cicatrização corneana); hipercorreção ou regressão.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Assegurar-se de que o paciente está utilizando a medicação pós-operatória prescrita.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Defeito epitelial persistente. Tratar como abrasão.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Opacidade corneana, suspeitar de úlcera.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Glare e halos. Normalmente complicações tardias.
		  </div>
	  </div>
	  
	  <div class="item item-divider ">
	    Contra-indicações
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Idade: 21 anos geralmente é considerada a idade limite mínima.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Medicações sistêmicas: particularmente roacutan, esteróides e início recente de antidepressivos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Doença do colágeno ativa.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Gravidez ou amamentação.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Qualquer patologia ocular: embora nem todos os casos sejam excluídos
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Erros refrativos muito grandes (-10 dioptrias ou mais): podem se beneficiar de cirurgia facorrefrativa com implante de lente
	    intra-ocular.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Personalidade: ansiedade, obsessão ou depressão importantes.
	  </div>

</ion-content>
