<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Conjuntivite
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Raramente ocasiona dor ocular, a menos que a córnea também esteja comprometida, como na ceratoconjuntivite viral.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Os pacientes podem queixar-se de dor que, ao questionamento, verifica-se apenas ser apenas irritação.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A secreção indica conjuntivite bacteriana, ao passo que o excesso de lacrimejamento está associado a infecções virais.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procure secreção no lacrimejamento. Vista com facilidade à lâmpada de fenda.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core com fluoresceína e procure manchas pontuais características de adenovírus.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Folículos: glóbulos de aparência gelatinosa rosa-claro no interior da conjuntiva indicam doença viral. Se forem associados a
		    secreção nos indivíduos sexualmente ativos, considerar clamídia e colete material com swab.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Colírio antibiótico 4x por dia em ambos os olhos durante 10 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Quando houver suspeita de clamídia, tratar com pomada de tetraciclina a 1% e tetraciclina oral, 250 mg, ambos 4x por dia, durante
		    3 semanas. Os parceiros sexuais também precisam de tratamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se o paciente já tiver sido tratado e não houver resposta (a primeira terapia é, em geral, cloranfenicol), colete material com
		    swab, pedindo que o paciente olhe para cima e raspando o fórnice da conjuntiva com swab.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tratar com antibiótico em caso de conjuntivite bacteriana.
		  </div>
	   </div>

</ion-content>
