<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Corpo estranho de córnea (CEC)
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Corpo estranho corneano metálico são comuns em trabalhadores da indústria que se ocupam com furadeiras, esmeris e soldas.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de mistura de anestésico tópico e fluorescência como proximetacaína 0,5% e fluoresceína 0,25% para facilitar
		    o exame.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tente remover o CEC com um cotonete. Se não conseguir, tente deslocá-lo com uma agulha com protetor laranja.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Remover um CEC usando agulha de insulina
		  </div>
		  <div class="item item-text-wrap justify">
		    - Monte a agulha em uma seringa de 2mL, que age como alavanca e serve para lhe dar maior controle.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avise o paciente sobre o que irá fazer.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Segure a pálpebra superior para impedir que o mesmo pisque. Para isso faça com que olhe para baixo, ponha seu polegar sobre
		    o rebordo inferior da pálpebra superior e eleve a pálpebra.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tente remover o CEC de maneira delicada com a ponta da agulha, percorrendo um ângulo tangencial (superficial) em relação a
		    superfície corneana. Curve a ponta da agulha, se for necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Uma vez deslocado o CEC, prenda-o com um cotonete úmido, já que isso é mais fácil do que tentar removê-lo da superfície
		    corneana com a ponta de uma agulha.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Caso haja um denso anel de ferrugem ao redor do CEC, após a remoção deste, tente removê-lo também. No entanto, é muitas vezes
		    mais fácil tentar fazê-lo 24h ou 48h mais tarde.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de cicloplégico.
		  </div><div class="item item-text-wrap justify">
		    - Aplique pomada de antibiótico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Ponha curativo oclusivo sobre o olho por 24h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dê alta com prescrição de pomada antibiótica, três vezes por dia, durante uma semana.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avise o paciente que a dor voltará quando o efeito do anestésico tópico terminar. Em geral, dentro de 30 min, mas que deve
		    passar nas próximas 24h.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Não deixe de:
		  </div>
		  <div class="item item-text-wrap justify">
		    - Perguntar e procurar uma possível lesão penetrante
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examinar o outro olho quanto a corpo estranho
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procurar corpos estranhos subtarsais
		  </div>
	  </div>

</ion-content>
