<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Corpo estranho subtarsal
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Sinais
		  </div>
		  <div class="item item-text-wrap justify">
		    - Normalmente ausência de corpo estranho corneano
		  </div>
		  <div class="item item-text-wrap justify">
		    - Paciente descreve dor ao piscar e sensação de "algo embaixo da pálpebra"
		  </div>
		  <div class="item item-text-wrap justify">
		    - Abrasões lineares vistas com aplicação de fluoresceína na parte superior da córnea.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de anestésico e core com fluoresceína.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Everta a pálpebra superior com um cotonete.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Remover o CEC com uma passada firme do cotonete.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de midriático se o paciente referir fotofobia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplique pomada antibiótica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Curativos oclusivos nos 2 olhos, se houver múltiplas abrasões.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pomada antibiótica 3x por dia, em 5 dias.
		  </div><div class="item item-text-wrap justify">
		    - Orientar o paciente que a dor vai retornar assim que o efeito do anestésico passar (geralmente dentro de 30 min), mas a dor deve
		    passar dentro de 24h.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Observações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não é necessário acompanhamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procurar por possível ferimento penetrante.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procurar corpo estranho também no olho contralateral.
		  </div>
	  </div>

</ion-content>
