<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Descolamento de retina
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Mais comum em míopes e pós-traumático; pode ser precedido por moscas volantes e flashes.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Normalmente secundário à rotura, raramente secundário a tumor intra-ocular.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Se a mácula permanecer aplicada, a visão pode ser boa.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Princípios Básicos
		  </div>
		  <div class="item item-text-wrap justify">
		    - Identificar a causa do descolamento através da pupila dilatada.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Correção
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aspirações de líquido subretiniano através de esclerotomia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Crioterapia escleral adjacente a defeito retiniano - o que ajuda a retina a colar novamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Introflexão escleral com faixa ou buckle - estes são dispostos na esclera externamente, criando sulco no olho - empurrando
		    a esclera em direção ao defeito retiniano e removendo tração, o que ajude a cicatrizar.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Laser - tanto aplicado com sonda intra-ocular (endolaser) ou por meio de lente externa.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Complicações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor, visão borrada e redescolamento.
		  </div>
	  </div>

	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor é comum no pós-operatório e geralmente melhora em 48h com analgesia oral e medicação tópica presente.<br />
		    * Colirio de corticoide 4x por dia por 4 semanas<br />
			* Colirio de antibiótico 4x por dia por 4 semanas<br />
			* Colirio midriático 3x por dia por 2 semanas
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor de início tardio (semanas ou meses após a cirurgia) pode ser por extrusão de faixa ou Buckle através da conjuntiva. Um
			  Buckle ou faixa extruindo pode, às vezes, ser removido com fórceps sob anestesia tópica - entretanto se precocemente após a
		    cirurgia há risco de redescolamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Visão borrada é comum no pós-operatório imediato - acuidade visual final depende de função macular no pós-operatório. Se a
		    mácula ainda estava aplicada antes da cirurgia (um descolamente "mácula on"), então o prognóstico visual é melhor do que se a
		    mácula estivesse descolada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Início súbito de visão borrada após cirurgia pode indicar redescolamento.
		  </div>
	  </div>

</ion-content>
