<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Diabetes
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dor pode ser aguda ou crônica.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Checar pressão arterial e urina.
	  </div>
	  
	   <div class="item item-text-wrap justify">
	    - Documentar acuidade visual com correção apropriada, se utilizada, ou com buraco estenopeico.
	  </div>
	  
	   <div class="item item-text-wrap justify">
	    - Avaliar mobilidade ocular e perguntar sobre visão dupla em qualquer posição do olhar (diplopia). Neuropatia diabética pode ser
	    dolorosa e afetar 3º, 4º e 6º nervos.
	  </div>
	  
	   <div class="item item-text-wrap justify">
	    - Pesquisar retinopatia diabética (hemorragias, exsudatos etc) e documentá-los. Dilatar a pupila com midriático, uma gota em cada
	    olho, se necessário.
	  </div>
	  
	   <div class="item item-text-wrap justify">
	    - Tentar analgesia simples.
	  </div>
	  
	   <div class="item item-text-wrap justify">
	    - A neuralgia normalmente resolve-se espontaneamente dentro de alguns dias.
	  </div>

</ion-content>
