<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Doença Ocular Distireóide
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer em pacientes eutireóides.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Complicações que ameaçam a visão por exposição corneana decorrente de exoftalmia ou compressão de nervo óptico secundária a
	    aumento da pressão intra-ocular.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Quemose macroscópica (inchaço ou edema da conjuntiva) pode estar presente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Diplopia, retração palpebral, redução da acuidade e dos movimentos oculares são comuns.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documente a acuidade visual de cada olho com óculos e buraco estenopeico, se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Um defeito de pupila aferente indica compressão do nervo óptico e precisa ser encaminhado ao especialista.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avaliar início de alta dose parenteral de esteróides. Até 1,5g de metilprednisolona por via IV, dependendo do peso.
		  </div>
		  <div class="item item-text-wrap justify">
		    - 80 mg de prednisolona com revestimento entérico, em conjunto com 150 mg de ranitidina, ou 30 mg de lanzoprazol, 2x por
		    dia se for impossível internar o paciente para tratamento parenteral.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Precauções usuais com as altas doses de esteróides nos pacientes com histórico de úlcera péptica ou hipertensão.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Corar a córnea com fluoresceína indica exposição. Tratar com pomada lubrificante 4x por dia e aconselhar o paciente a prender
		    as pálpebras superiores à noite, com uma fina camada de micropore.
		  </div>
	   </div>

</ion-content>
