<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Externo
	  </div>
	  <div class="item item-text-wrap justify">
	    - Eritema e edema dos tecidos perioculares: considerar celulite orbital ou periorbital.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Palpação das artérias temporais: se inflamadas, não pulsáteis ou nodulares, considerar artrite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Analisar cicatrizes faciais ou cranianas de trauma ou herpes oftálmico prévio.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pálpebras
	  </div>
	  <div class="item item-text-wrap justify">
		- Avalie a presença de cistos ou nódulos na margem palpebral: estes são menos visíveis em indivíduos de pele escura e podem estar
		inflamados.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Acuidade Visual
	  </div>
	  <div class="item item-text-wrap justify">
		- Documentar a acuidade visual com correção adequada ou buraco estenopeico para cada olho separadamente.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pupilas
	  </div>
	  <div class="item item-text-wrap justify">
		- Defeito pupilar aferente pode ocorrer em neurite óptica ou lesões compressivas do nervo óptico.
	  </div>
	  <div class="item item-text-wrap justify">
		- Se a pupila estiver dilatada, procure evidências de paralisia do 3º nervo que pode ser secundária a um aneurisma cerebral e é uma
		emergência neurocirúrgica: cefaléia e ptose podem estar presentes.
	  </div>
	  <div class="item item-text-wrap justify">
		- Pupila irregular arreativa: considerar uveíte quando a íris estiver aderida ao cristalino ou houver aumento de pressão intra-ocular
		no glaucoma agudo, particularmente se o paciente estiver com dor severa.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Movimentos Oculares
	  </div>
	  <div class="item item-text-wrap justify">
		- Visão dupla ocorre quando há restrição de movimentos oculares, usualmente consequente a paralisia de nervos ou massa orbital.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Córnea
	  </div>
	  <div class="item item-text-wrap justify">
		- Corar a córnea com fluorescência diluída e procurar por corpo estranho ou abrasão, pois o olho pode parecer normal, apesar destas
		condições estarem nos estágios iniciais.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Fundo de Olho
	  </div>
	  <div class="item item-text-wrap justify">
		- Normalmente não há achados de fundo de olho na ausência de trauma e cirurgia prévia, mas hemorragias podem ser visualizadas em
		diabéticos, hipertensos ou aqueles com isquemia ocular.
	  </div>
  </div>

</ion-content>
