<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Artrite temporal é uma possibilidade quando há fraqueza, emagrecimento, dor mandibular ao comer (claudicação), dor na cintura
		escapular, rigidez de nuca, episódios transitórios de perda de visão, idade acima de 70 anos, mas podendo ocorrer aos 50 anos.
	  </div>

	  <div class="item item-text-wrap justify">
		- Dor periocular é frequentemente descrita como dor ocular, que pode ser irradiada da articulação mandibular, seios da face ou
		orelha.
	  </div>

	  <div class="item item-text-wrap justify">
		- Redução da visão de cores está associada à neurite óptica.
	  </div>

	  <div class="item item-text-wrap justify">
		- Óculos incorretos ou necessidade de óculos, particularmente em pacientes de meia idade que tem dificuldade ao ler, são causas
		comuns de desconforto visual.
	  </div>

	  <div class="item item-text-wrap justify">
		- Diabetes, hipertensão e tabagismo podem levar a isquemia ocular e dor persistente.
	  </div>

	  <div class="item item-text-wrap justify">
		- Sinusite pode ser recorrente e pode levar à dor periocular.
	  </div>

	  <div class="item item-text-wrap justify">
		- Analisar história familiar de enxaqueca.
	  </div>

	  <div class="item item-text-wrap justify">
		- Neuralgia consequente ao herpes zóster oftálmico pode ser grave e durar anos.
	  </div>

</ion-content>
