<ion-content>

    <div class="item item-divider ">
        <i class="icon ion-checkmark"></i>&nbsp; Ectrópio
    </div>

    <div class="item item-text-wrap justify">
        - Pálpebra inferior evertida com exposição do ponto lacrimal; comum em idosos por frouxidão dos tecidos e queimaduras
        faciais ou outras condições crônicas da pele - ectrópio cicatricial.
    </div>

    <div class="card">
        <div class="item item-divider">
            Tratamento
        </div>
        <div class="item item-text-wrap justify">
            - Core a córnea com fluoresceína e procure por um padrão difuso que indique exposição corneana.
        </div>
        <div class="item item-text-wrap justify">
            - Lágrimas artificias 4x por dia e pomada lubrificante ao deitar.
        </div>
    </div>

</ion-content>
