<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Enxaqueca
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode ser típica, com cefaléia, naúseas e ausa visual, classicamente com luzes ziguezagueantes que se movem propriamente pela aura
	    visual (espectro de fortificação). Afeta ambos os olhos, mas o paciente pode não perceber.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dor normalmente é aguda, unilateral e pode durar dias.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Variações incluem perda visual súbita, geralmente transitória, envolvendo todo ou parte do campo visual, o que pode tornar-se
	    permanente devido o espasmo arterial cerebral ou de vasos retinianos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A cefaléia pode não estar presente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - História familiar forte frequente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Se houver edema de papila, cefaléia e perda transitória da visão, considerar lesão intracraniana ou aumento da pressão
	    intracraniana.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Associação com contraceptivo oral, chocolate, queijo e estresse.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Medir pressão arterial.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documentar acuidade visual e campo visual de confrontação.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar movimentos oculares e pupilares. Um aneurisma cerebral pode apresentar-se com cefaléia súbita, com ou sem outras
		    características neurológicas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se o paciente tiver mais de 50 anos, checar VHS e procurar sinais e sintomas de arterite temporal. Se suspeitar, tratar
		    apropriadamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Recomendar analgesia simples e repouso em ambiente calmo e escuro, se nenhuma outra patologia estiver presente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antieméticos, se necessário, por via oral ou intramuscular.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antagonista de serotonina, sumatriptan também por mês 50mg, injeção subcutânea 6mg ou spray intra-nasal 20mg assim que o
		    ataque comece. Não recomendado para pacientes com antecedentes cardiovasculares ou menores de 18 anos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Fundoscopia, geralmente normal. Se houver edema da papila, deverá ser feita avaliação neurológica urgente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver episódios frequentes, tratar profilaticamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor occipital: considerar hemorragia subaracnoidea. Pesquisar defeito de campo visual e examinar o disco óptico que pode estar
			  edemaciado - se suspeitar de sangramento, discutir com neurocirurgião imediatamente, pois um pequeno sangramento pode proceder
			  um grande.
		  </div>
	  </div>

</ion-content>
