<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Episclerite
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Setor bem definido do "branco do olho" comprometido pode difundir-se.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Irritação frequente.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core com fluoresceína para descartar inflamações localizadas semelhantes, como úlcera margina de córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se ocorrem incômodos pela aplicação de colírios tópicos antiinflamatórios, diclofenaco sódico 3x por dia durante 7 dias. Fobem,
		    200mg, 2x por dia, por via oral durante 2 semanas também pode ser usado. Desde que não existem contra-indicações, como úlcera
		    péptica ou tratamento anti-inflamatório concomitante.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avisar para o paciente interromper o tratamento imediatamente e voltar para novo exame se ocorrer irritação gástrica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se for recorrente em pacientes bem menos de 30 anos, solicitar avaliação da função renal, porque a episclerite é uma
		    manifestação inicial rara de insuficiência renal nessa faixa etária.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Avisar ao paciente de que o quadro em geral se resolve espontaneamente em 2 a 3 semanas.
		  </div>
	   </div>

</ion-content>
