<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Esclerite e episclerite
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode envolver toda a parte da esclera e geralmente é unilateral.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Esclerite é dolorosa e pode manter o paciente acordado à noite.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Episclerite pode ter leve incômodo ou ser assintomática.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Medir a acuidade visual que pode estar diminuída na esclerite.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core com fluoresceína para descartar abrasão ou corpo estranho. Se for o caso, everta a pálpebra e procure por um corpo
		    estranho subtarsal.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Procure por cílios invertidos ou cílios no ponto lacrimal se a injeção ciliar for nasal.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Irritação leve ou assintomática - diagnóstico provável de episclerite. Não necessita de tratamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver incômodo, inicie o uso de anti inflamatório não esteróide, como naproxeno 500 mg via oral 12/12h após as refeições
		    ou diclofenaco de sódio 50 mg de 8/8h durante 10 dias, contanto que não haja contra-indicações.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não inicie colírios de corticosteróides, a menos que o seguimento com o especialista possa ser em breve.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antinflamatórios não esteróides podem causar danos gastrointestinais. Oriente o paciente para interromper o tratamento e
		    retornar se isso ocorrer.
		  </div>
	   </div>

</ion-content>
