<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Estrabismo
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Normalmente estética, raramente para ajudar no controle de visão dupla.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Não afasta a necessidade do uso de óculos em crianças.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Normalmente executada sob anestesia geral, como a maioria dos casos são crianças.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Avaliação da motilidade ocular deve revelar padrão de defeito estável.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Conjuntiva é aberta.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Músculos extra-oculares apropriados identificados nas suas inserções no globo.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Músculo fortalecido ou enfraquecido de acordo com o tipo de desvio.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Para fortalecer o músculo geralmente é encurtado por ressecção de comprimento medido e então reinserido à inserção original.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Para enfraquecer é desinserido e reinserido posteriormente no globo.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Conjuntiva reposicionada e suturada.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Suturas não necessitam ser removidas.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Gotas tópicas ou pomada conforme tratamento, se necessário.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Regimes
		  </div>
		  <div class="item item-text-wrap justify">
		    - Apenas antibiótico (cloranfenicol colírio ou pomada - 3x por dia, 2 semanas e então parar).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Combinação de antibiótico e corticóide (maxitrol -N 3x por dia, 2 semanas e então parar).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Nenhum tratamento - comum em casos não complexos.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Complicações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor, infecção, diplopia e recorrência do estrabismo.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor é comum nas primeiras 24h e usualmente resolve com analgesia comum.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor persistente e irritação podem ser devido as suturas conjuntivais que devem ser reposicionadas ou removidas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Infecções devem ser tratadas com antibióticos tópicos, assim como conjuntivite ou se grave, sistemicamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Diplopia pode inicialmente resolver-se quando diminuir o edema ou ocorrer adaptação à nova posição do olhar.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Diplopia intratável pode ocorrer se o paciente for incapaz de adaptar-se à nova posição do olhar (este risco geralmente é
		    afastado com o uso pré-operatório de prismas para mitigar o efeito cirúrgico).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Recorrência de desvio geralmente requer nova cirurgia.
		  </div>
	  </div>

</ion-content>
