<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Fístula carótico-cavernosa
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Afecção rara e expressiva de fístula entre a artéria carótida interna e o seio cavernoso.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Edema conjuntival bilateral e exoftalmia pulsátil, pois o fluxo venoso está comprometido pelo fluxo arterial.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Espontânea em idosos, decorrente de arteriosclerose, ou depois de trauma em jovens.
	  </div>
	 
</ion-content>
