<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Glaucoma (Trabeculectomia)
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A cirurgia é indicada se o controle da pressão intra-ocular for insatisfatório com medicação tópica.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode ser sob anestesia local ou geral.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A conjuntiva geralmente na parede superior do globo é iniciada e retraída.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Um flap escleral de espessura parcial é confeccionado. O limite fica no limbo corneano.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Um pequeno bloco escleral de espessura total e trabeculado é removido abaixo do flap, produzindo uma fístula com a câmara anterior
	    do olho.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Um pedaço de íris é removido (iridectomia).
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - O flap é reposicionado para cobrir a fístula e suturado no local.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A conjuntiva é reposicionada para cobrir o flap e é suturada.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Aquoso da câmara anterior pode então drenar lentamente sob o flap e formar uma bolha fluídica no sítio cirúrgico (bolha).
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Complicações
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dor e diminuição da visão; infecção; falha em reduzir a pressão ou hiperfiltração com pressão muito baixa.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Desconforto é comum inicialmente - normalmente melhora em uma semana - assegurar-se de que o paciente está utilizando a
		    medicação como orientado.<br />
		    * Colírio de corticóide 4x por dia por 4 semanas<br />
		    * Colírio de antibiótico 4x por dia por 4 semanas<br />
		    * Colírio midriático 3x por dia por 2 semanas
		  </div>
		  <div class="item item-text-wrap justify">
		    - Visão borrada é comum, pois a cirurgia frequentemente muda o erro refracional.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Infecção deve ser tratada agressivamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Hiperfiltração, que pode resultar em câmara anterior rara, e hipofiltração podem requer nova cirurgia.
		  </div>
	  </div>

</ion-content>
