<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Glaucoma agudo
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Predominantemente em idosos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Dor ocular intensa e debilitante.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Vômitos e dor abdominal podem acompanhar.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Edema de córnea pode estar presente, acompanhado de meia midríase e baixa acuidade visual.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A tensão óculo-digital está bastante aumentada (Consistência pétrea)
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Diamox 500mg EV.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pilocarpina 2%, colírio 1/1h no olho afetado e 4x por dia no outro olho. Pode ter pouco efeito inicialmente até que se reduza
		    a pressão intra-ocular (PIO).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Corticoide tópico 1 gota 1/1h no olho afetado.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Analgesia oral ou intramuscular, se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não administrar anti-eméticos por via oral (plasil IM).
		  </div>
	   </div>

</ion-content>
