<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Hemorragia conjuntival
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Em geral é espontânea.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode estar relacionada com hipertensão ou ocorrer depois de qualquer manobra de valsabra.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Identifique e documente a borda superior da hemorragia
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique a pressão arterial e trate, se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Realize EAS para diabetes.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se não houver histórico de trauma ocular ou craniano, tranquilize o paciente e diga que a resolução é espontânea, mas que pode
		    demorar seis semanas e piorar antes da remissão.
		  </div>
	   </div>

</ion-content>
