<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Infecção localizada
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Foliculite: centrada ao redor do cílio e pode ter uma cabeça pontiaguda visível.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Calázio infectado: uma protuberância junto ao corpo da pálpebra. Uma protuberância antiga previamente indolor pode ter antecedido
	    a infecção.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documentar a acuidade visual em cada olho.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se for uma foliculite, puxe os cílios envolvidos para auxiliar na drenagem do abscesso e pingue colírio antibiótico,
		    4x ao dia durante 10 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Foliculite recorrente: pesquisar com exame de urina para diabetes, tratar ou encaminhar da forma apropriada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Colázio infectado: inicie antibióticos sistêmicos associados a colírios antibióticos , 4x por dia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Incisão do cisto.
		  </div>
	  </div>

</ion-content>
