<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Isquemia ocular
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Normalmente arteriopata
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Frequentemente difícil diagnosticar.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dor normalmente é crônica, mas pode apresentar-se de forma aguda.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar pressão arterial e urina. Tratar apropriadamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Auscultar carótidas. No ângulo da mandíbula, para sopros, e documentar achados. Notar que nenhum sopro pode ser ausentado com
		    estenose extensa de caróticas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pesquisar hemorragias retinianas que podem ocorrer na isquemia e no diabetes. Particularmente significante se houver assimetria
		    marcante entre os olhos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Iniciar uso de aspirina 75mg, VO, 1x por dia, a não ser que haja contra-indicação, como úlcera péptica.
		  </div>
	  </div>

</ion-content>
