<ion-content>

    <div class="item item-divider ">
        <i class="icon ion-checkmark"></i>&nbsp; Agudo
    </div>

    <div class="item item-text-wrap justify">
        - Em geral é devido a uma resposta fisiológica a irritação ocular de uma causa qualquer.
    </div>

    <div class="item item-divider ">
        <i class="icon ion-checkmark"></i>&nbsp; Crônico
    </div>

    <div class="item item-text-wrap justify">
        - A maioria dos casos é bilateral.
    </div>

    <div class="item item-text-wrap justify">
        - Os sintomas variam desde um incômodo intermitente a uma debilidade marcada.
    </div>

    <div class="item item-text-wrap justify">
        - Se associado a olhos inflamados e dolorosos podem resultar de olho seco e/ou blefarite.
    </div>

    <div class="card">
        <div class="item item-divider">
            Principais causas
        </div>
        <div class="item item-text-wrap justify">
            Adultos:<br />
            - Ectrópio senil da pálpebra inferior.<br />
            - Estenose (estreitamento) dos pontos lacrimais.<br />
            - Blefarite - irritação crônica das pálpebras.<br />
            - Bloqueio do sistema nasolacrimal de drenagem - em geral unilateral.<br />
            - Olho seco - lacrimejamento pode ocorrer da irritação devido a manchas secas na córnea.
        </div>
        <div class="item item-text-wrap justify">
            Crianças:<br />
            - Falha na canalização do ducto nasolacrimal - geralmente abaixo dos 18 meses de idade.<br />
            - Glaucoma congênito: extremamente raro. Os olhos podem ser maiores que o normal.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
            Exame físico
        </div>
        <div class="item item-text-wrap justify">
            - A margem palpebral inferior pode não estar firmemente aderida ao olho (ectrópio), lágrimas enchem e transbordam do
            saco tarsal inferior - comum em idosos e pode ocorrer após trauma à pálpebra.
        </div>
        <div class="item item-text-wrap justify">
            - A parte medial da pálpebra inferior pode estar evertida levemente - ectrópio medial - e levar a ressecamento e
            fechamento secundário do ponto lacrimal inferior - o pequeno conduto responsável pelo escoamento da lágrima.
        </div>
        <div class="item item-text-wrap justify">
            - Palpe à procura de uma massa no ângulo entre o olho e o nariz - um mucocele - a pressão exercida pode resultar em expressão
            de mucopus no filme lacrimal.
        </div>
        <div class="item item-text-wrap justify">
            - Crostas nos cílios e na margem palpebral podem indicar blefarite.
        </div>
        <div class="item item-text-wrap justify">
            - Tinja a córnea com fluoresceína e examine sob iluminação azul - cobalto na lâmpada de fenda - tingimento difuso
            e sutil pode indicar a presença de olho seco e isso está associado a lacrimejamento secundário.
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
            Tratamento
        </div>
        <div class="item item-divider">
            1. Ectrópio:
        </div>
        <div class="item item-text-wrap justify">
            - Pálpebra inferior evertida com exposição do ponto lacrimal; comum em idosos por frouxidão dos tecidos e queimaduras
            faciais ou outras condições crônicas da pele - ectrópio cicatricial.
        </div>
        <div class="item item-text-wrap justify">
            - Core a córnea com fluoresceína e procure por um padrão difuso que indique exposição corneana.
        </div>
        <div class="item item-text-wrap justify">
            - Lágrimas artificiais 4x por dia e pomada lubrificante ao deitar.
        </div>
        <div class="item item-divider">
            2. Estenose dos pontos lacrimais:
        </div>
        <div class="item item-text-wrap justify">
            - Core a córnea com fluoresceína e procure por um padrão difuso que indique exposição corneana.
        </div>
        <div class="item item-text-wrap justify">
            - Lágrimas artificiais 4x por dia e pomada lubrificante ao deitar.
        </div>

        <div class="item item-divider">
            3. Mucocele:
        </div>
        <div class="item item-text-wrap justify">
            - Massa flutuante endurecida sem sinais inflamatórios dentro do saco lacrimal.
        </div>
        <div class="item item-text-wrap justify">
            - Esvaziar conteúdo (secreção - pode ser mucopurententa) com massagem manual da lesão.
        </div>

        <div class="item item-divider">
            4. Blefarite:
        </div>
        <div class="item item-text-wrap justify">
            - Alteração palpebral extremamente comum. Leva a irritação ocular bilateral ao invés de dor.
        </div>
        <div class="item item-text-wrap justify">
            - Margens palpebrais com crostas vermelhas espessadas.
        </div>
        <div class="item item-text-wrap justify">
            - As exacerbações agudas são comuns.
        </div>
        <div class="item item-text-wrap justify">
            - Os cílios podem estar emaranhados, ter crostas e pequenos flocos de pele aderente coladas.
        </div>
        <div class="item item-text-wrap justify">
            - Avise o paciente que o quadro é crônico e o tratamento destina-se a aliviar os sintomas, mas não resolverá o problema
            subjacente.
        </div>
        <div class="item item-text-wrap justify">
            - Core com fluoresceína e procure úlceras marginais de córnea.
        </div>
        <div class="item item-text-wrap justify">
            - Se as pálpebras estiverem injetadas, iniciar pomada de antibiótico, 3x por dia. A pomada deve ser passada energicamente
            nas margens palpebrais na base dos cílios por 3 semanas. Não há necessidade de instilá-la no interior do olho.
        </div>
        <div class="item item-text-wrap justify">
            - Higiene palpebral. Aconselhe o paciente a limpar as margens palpebrais totalmente, pela manhã e à noite, da seguinte maneira:
            <br />
            * puxando a pele externa às margens palpebrais para o lado para deixar as pálpebras sob tensão.<br />
            * com um tecido limpo, lenço de algodão ou flanela umedecidos em solução salina suave (uma colher de chá de sal em um copo de
            água fervida gelada) ou um xampu infantil. Esfregar energicamente para remover a gordura e o resíduos associados ao quadro,
            evitando, porém, tocar o olho propriamente dito.<br />
            * continuar o tratamento indefinidamente.<br />
            * não usar algodão ou cotonetes. Eles podem deixar resíduos no olho.
        </div>

        <div class="item item-divider">
            5. Bloqueio do ducto nasolacrimal:
        </div>
        <div class="item item-text-wrap justify">
            - Assuma que há bloqueio do ducto se há lacrimejamento na ausência de doença palpebral ou ocular.
        </div>
        <div class="item item-text-wrap justify">
            - Pingue uma gota de anestésico em ambos - deve ser drenado dentro de 5 minutos caso os ductos lacrimais estejam
            funcionando de maneira adequada.
        </div>
        <div class="item item-text-wrap justify">
            - Lave o ducto e o saco lacrimal - pingue uma gota de tetracaína a 0,5% em ambos os olhos para maior conforto do paciente.
        </div>
        <div class="item item-text-wrap justify">
            - Identifique o ponto lacrimal e dilate-o com um dilatador pontual.
        </div>
        <div class="item item-text-wrap justify">
            - Use uma seringa de 2 mL com soro fisiológico acoplado a uma cânula nasal até o saco lacrimal - se he há obstrução
            canalicular haverá resistência esponjosa.
        </div>
        <div class="item item-text-wrap justify">
            - Nunca force a entrada da cânula - uma passagem suave com uma parada dura em seguida indica que a cânula está sendo
            pressionada contra o osso no lado nasal do saco.
        </div>
        <div class="item item-text-wrap justify">
            - Suavemente injete soro fisiológico.
        </div>
        <div class="item item-text-wrap justify">
            - Pergunte ao paciente se ele sente o gosto do soro - em caso afirmativo, isso indica que o sistema lacrimal está prévio.
        </div>
        <div class="item item-text-wrap justify">
            - Refluxo através do ponto lacrimal superior indica que há oclusão.
        </div>

        <div class="item item-divider">
            6. Olho seco:
        </div>
        <div class="item item-text-wrap justify">
            - Colírio lubrificante 4x por dia.
        </div>
        <div class="item item-text-wrap justify">
            - Pomada lubrificante 3 ou 4 x ao dia em casos graves.
        </div>

        <div class="item item-text-wrap item-divider">
            6. Falha na canalização do ducto nasolacrimal:
        </div>
        <div class="item item-text-wrap justify">
            - Lacrimejamento crônico - geralmente unilateral tendo-se iniciado bilateralmente e ocasionalmente acompanhado de
            secreção purulenta.
        </div>
        <div class="item item-text-wrap justify">
            - 90% dos casos resolvem-se espontaneamente até 1 ano de idade.
        </div>
        <div class="item item-text-wrap justify">
            - Aconselhe os pais - condição autolimitada.
        </div>
        <div class="item item-text-wrap justify">
            - Mantenha os olhos limpos limpando suavemente os debris que ficam encrustados.
        </div>
        <div class="item item-text-wrap justify">
            - Massageie os sacos lacrimais - com o dedo inclinado, suavemente massagei-o em sentido inferior do canto medial do
            olho até a metade do nariz, 10 vezes, aproximadamente 3x por dia.
        </div>

        <div class="item item-divider">
            7. Glaucoma congênito:
        </div>
        <div class="item item-text-wrap justify">
            - Olhos grandes, lacrimejamento, preocupação paterna quanto a visão, córnea opaca.
        </div>
        <div class="item item-text-wrap justify">
            - Encaminhar ao especialista.
        </div>
    </div>

</ion-content>
