<ion-content>
	  
	  <div class="item item-text-wrap justify">
	    - Olho avermelhado e com secreção aquosa - em geral bilateral.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Costuma ocorrer em pacientes que dormem com a lente de contato (geralmente lentes de contato gelatinosas descartáveis), uso
	    excessivo e/ou má higiene.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Confirmar que a lente de contato foi retirada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instile fluoresceína e observe sob a luz azul de cobalto - um padrão difuso central da córnea é comum.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se não há úlcera de córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplicar midriático/cicloplégico para dilatar a pupila e gerar alívio do espasmo reflexo do músculo
		    ciliar devido à luz (fotofobia).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplicar antibiótico tópico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Faça um curativo oclusivo duplo no olho mais acometido por 24h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Prescrever pomada de antibiótico, 4 x por dia por 7 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - O uso de lente de contato deve ser suspenso.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Em caso de perda da lente
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue colírio anestésico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Use a lâmpada de fenda.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examine o fórnice conjuntival  inferior (peça para o paciente olhar para cima enquanto puxa a pálpebra inferior para baixo).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Everta a pálpebra superior.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se ainda não for possível encontrar a lente, instile fluoresceína para ressaltá-la e observe com luz azul.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se a lente for encontrada, verifique se ela está íntegra. Se estiver partida, procure os outros pedaços.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dê alta com prescrição de pomada antibiótica 4x por dia por 5 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Suspender o uso das lentes durante o tratamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Faça um curativo no olho por 24h se houver abrasões.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Aplicação inadvertida de solução para limpeza de lentes de contato nos olhos
		  </div>
		  <div class="item item-text-wrap justify">
		    - Geralmente unilateral, podendo ser bilateral, dor aguda e secreção aquosa.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de anestésico tópico para permitir o exame.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Assegure-se, a partir da história, de que as lentes foram retiradas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Retire as lentes caso estas ainda se encontrem dentro dos olhos. Use uma gota de fluoresceína para ajudar a identificar 
		    a lente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Irrigue copiosamente o olho com soro fisiológico, 1 litro acoplado a um equipo de soro ou então com água esterilizada.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Caso as lentes tenham sido retiradas dos olhos pelo paciente há mais de uma hora, a irrigação é desnecessária.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue uma gota de fluoresceína, se não houver usado ainda; padrão de puntacta difusa em geral é visto e indica dano químico
		    à córnea. Trate como se fosse uma abrasão e recubra o olho mais afetado em caso de ambos os olhos estarem acometidos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se há uma úlcera de córnea e caso haja, trate de acordo.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Em caso de acometimento grave, pingue uma gota de cicloplégico para alívio de dor resultante da
		    contração dos músculo ciliar.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dê alta com prescrição de pomada ou colírio antibiótico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instrua o paciente a não usar as lentes de contato até que elas tenham sido conferidas em busca de presença de corpos 
		    estranhos e outros debis.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não usá-las por no mínimo 7 dias.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Intolerância ao uso de lentes de contato
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pode ocorrer mesmo após o uso não complicado por anos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pode ser exaustado pela mudança em estilo de uso, como lente rígida para gelatinosa ou após mudança no tipo de solução
		    de limpeza.
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Tratamento
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Retire as lentes de contato caso estas se encontrem nos olhos.
				</div>
				<div class="item item-text-wrap justify">
					- Everta a pálpebra superior. Uma superfície avermelhada e irregular, em geral, indica que há uma resposta alérgica
					crônica.
				</div>
				<div class="item item-text-wrap justify">
					- Tinja a córnea com fluoresceína a 0,25%. Um padrão difuso pode indicar que há má adaptação e áreas de toque ou
					deslizamento.
				</div>
				<div class="item item-text-wrap justify">
					- Verifique se há uma úlcera de córnea.
				</div>
				<div class="item item-text-wrap justify">
					- Oriente o paciente a não reinserir suas lentes.
				</div>
				<div class="item item-text-wrap justify">
					- Caso haja manchas de fluoresceína na córnea e na ausência de úlcera de córnea, trate com colírio antibiótico.
				</div>
		  	</div>
		  </div>
	  </div>

</ion-content>
