<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Lesão por solda, esmeril e luz de solda
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Comumente é bilateral e recorrente.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instile anestésico tópico para permitir o exame.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instile fluoresceína e procure por abrasões e corpos estranhos com luz azul.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Remova o corpo estranho e trate como abrasão.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue cicloplégico em ambos os olhos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pomada antibiótica em ambos os olhos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Obstrua o olho pior por 24h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Prescreva pomada antibiótica 4x por dia durante 5 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não deixe de examinar a existência de lesão penetrante.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não deixe de fazer radiogradia da órbita se o histórico incluir trauma com martelo ou cinzel.
		  </div>
	   </div>

</ion-content>
