<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Lesão química álcalis ou ácidos
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Queimaduras por álcalis: amônia, cimento, soda caústica. Penetram no tecido rapidamente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Queimaduras por ácidos: penetram menos que álcalis e o acometimento ocular é menos intenso.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Lavar imediatamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instilar anestésico tópico como proximetacaína 0,5% para facilitar exame físico posterior e tratamento.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Irrigar olhos com grande quantidade de água ou solução salina.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Utilizar no mínimo 1 litro em cada olho. Maiores quantidade para queimaduras alcalinas. Certifique-se de não haver partículas
		    da substância no fundo de saco conjuntival superior e inferior. Checar pH (com fitas de pHmetria). Parar a irrigação somente
		    quando estiver neutro.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examinar a córnea com fluoresceína e luz azul de cobalto. Tratar abrasões corneanos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instilar cicloplégico e pomada antibiótica nos olhos afetados.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Ocluir o olho mais afetado por 24h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Aplicar pomada antibiótica por 5 dias.
		  </div>
	   </div>

</ion-content>
