<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Lesões contusas
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Documentação e anamnese precisa: documente a hora da lesão e a causa exata.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - As lesões por bola de squash ou peteca podem ser particulamente graves, porque esses objetos se ajustam exatamente à cavidade
	    orbital.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Investigue em que objeto ocorreu o choque: trate como traumatismo craniano, além de lesão ocular.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A diminuição da visão poderá ser secundária à abrasão corneana ou hemorragia intra-ocular. Descolamento de retina pode ocorrer.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Investigue se há visão visão dupla: encarceramento do conteúdo orbitário por meio de fratura no assoalho da órbita causa
	    restrição na elevação do olho com diplopia vertical.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Certifique-se de que não há outra lesões não-oculares graves que exigem atendimento imediato.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Hematoma periorbitário pode ser severo impedindo a abertura palpebral: não tente a abertura forçada dos olhos.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Exame físico
		  </div>
		  <div class="item item-text-wrap justify">
		    - Palpar rebordo orbitário: procure por fratura: crepitações podem indicar fratura da parece medial, por exemplo.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examinar meticulosamente feridas nas pálpebras superiores e na parte de cima das bochechas: elas podem ser profundas o
		    suficiente para comprometer o globo ocular.
		  </div>
		  <div class="item item-text-wrap justify">
		    - A crepitação indica fratura da parede medial da cavidade orbital.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se o olho parecer torto ou se houver dificuldade para reconhecer as características normais, ele pode ter sofrido rompimentos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Hemorragia subconjuntival é comum e pode mascarar ruptura subjacente do globo ocular nas lesões graves.
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Acuidade Visual
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Medir a AV de cada olho
				</div>
				<div class="item item-text-wrap justify">
					- Baixa na AV pode ser devido a abrasões corneanas ou hifema
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Motilidade ocular
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Pode haver diplopia devido à restrição causada pelo edema orbitário
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Córnea
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Instilar fluoresceína e procurar por abrasões corneanas
				</div>
				<div class="item item-text-wrap justify">
					- Lacerações corneanas de espessura total podem ocorrer no trauma
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Íris e pupila
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Hifema pode ocupar a câmara anterior indicando lesão ocular significativa
				</div>
				<div class="item item-text-wrap justify">
					- Pupila lesionada pode ser devido à perfuração
				</div>
				<div class="item item-text-wrap justify">
					- Midríase traumática (pupila dilatada pelo trauma)
				</div>
				<div class="item item-text-wrap justify">
					- Defeito pupilar aferente relativo pode ser devido à compressão no nervo óptico: indicação de descompressão urgente,
					se houver hematoma periorbitário.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Cristalino
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Catarata traumática, associada à lesão penetrante
				</div>
				<div class="item item-text-wrap justify">
					- Luxação do cristalino, trauma contuso grave
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Fundo de olho
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Pode haver palidez e hemorragias retinianas graves dispersas - <i>Commotio retinae</i>
				</div>
				<div class="item item-text-wrap justify">
					- Descolamento de retina aparece como uma "cortina" acinzentada flutuando na fundoscopia.
				</div>
		  	</div>
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Imediatamente se:
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Rotura de globo ocular ou suspeita de perfuração
				</div>
				<div class="item item-text-wrap justify">
					- Hematoma periorbitário grave com defeito pupilar
				</div>
				<div class="item item-text-wrap justify">
					- Hifema e/ou BAV na criança
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Em 24h se:
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Baixa acuidade visual
				</div>
				<div class="item item-text-wrap justify">
					- Hifema no adulto
				</div>
				<div class="item item-text-wrap justify">
					- Lacerações palpebrais
				</div>
				<div class="item item-text-wrap justify">
					- Hemorragias retinianas
				</div>
				<div class="item item-text-wrap justify">
					- Fratura por choque
				</div>
				<div class="item item-text-wrap justify">
					- Criança sem hifema ou BAV.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Em 48h se:
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Olho normal com contusão periorbitária grave
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Sem necessidade de encaminhamento:
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Trauma pequeno sem envolvimento ocular - apenas periobitário discreto.
				</div>
		  	</div>
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Hematoma orbitário sem visualização de globo ocular
		  </div>
		  <div class="item item-text-wrap justify">
		    - Realizar compressas geladas: sem exercer pressão sobre o globo.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar vacina antitetânica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Radiografia da órbita e seios frontais: procurar por nível líquido, gás ou herniação de tecido.
		  </div>
		   <div class="item item-text-wrap justify">
		    - Encaminhar ao especialista.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Hematoma orbitário com olho visível
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anote a acuidade visual.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tente identificar se há integridade do globo ocular: a córnea deve estar visível assim como a pupila, a não ser que haja
		    hifema.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Globo amolecido ou deslocamento pupilar indicam que há ruptura escleral.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se há defeito aferente relativo: se estiver presente, pode haver compressão do nervo óptico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pode haver indicação de se fazer uma cantotomia lateral e evitar a perda visual permanente.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Cantotomia lateral
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anestésio local não é necessário, pois pode aumentar a tensão tecidual e o volume.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Clampeie até 1cm de tecido do canto lateral (junção entre as pálpebras superior e inferior) com uma pinça Kelley por 30seg.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Seccione o tecido marcado pela pinça.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se há hifema e trate de acordo - repouso restrito ao leito pode impedir que haja um ressangramento, que em geral
		    ocorre 3-5 dias após o inicial. O ressangramento é em geral mais grave que o sangramento inicial. Colírio de corticoide 3x por dia e colirio midriático 3x,
			  3x por dia em casos de uveíte tramática. Use apenas em casos graves
		    (mais de 30% de hífema).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tente visualizar o fundo de olho somente se o nervo óptico for visível e anote os achados.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pingue fluoresceína na córnea e trate quaisquer abrasões corneana.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver qualquer laceração de pele, verifique o estado de imunização para o tétano e trate de acordo.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tire radiografia da face e seios paranasais, verifique se há opacificação destes.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anote se há parestesia dos nervos infra-orbitais - dormência sobre a bochecha ou visão dupla em qualquer sentido do olhar,
		    pois estes indicam que há uma fratura por choque. Neste caso iniciar cobertura com antibióticos sistêmicos, como cefalexina
		    500g, 4x por dia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Ponha gelo sobre o hematoma, a não ser que haja suspeita de ruptura do globo ou penetração ocular.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Uma pupila com reflexos lentificados ou dilatada pode ser devido apenas ao trauma - midríase traumática.
		  </div>
	  </div>

</ion-content>
