<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Lesões penetrantes
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Causas
		  </div>
		  <div class="item item-text-wrap justify">
		    - Partículas em alta velocidade, como fragmentos metálicos;
		  </div>
		  <div class="item item-text-wrap justify">
		    - Lesões por vidro;
		  </div>
		  <div class="item item-text-wrap justify">
		    - Objetos arremessados, em geral crianças;
		  </div>
		  <div class="item item-text-wrap justify">
		    - Jardinagem.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Argumente
		  </div>
		  <div class="item item-text-wrap justify">
		    - sobre qual atividade estava sendo exercida, como ocorreu, horário, se usava óculos de proteção, se sentiu algum impacto, se
		    houve acometimento visual.
		  </div>
		  <div class="item item-text-wrap justify">
		    - catarata e hemorragia vítrea podem estar presentes. No entanto, esteja atento, pois a visão pode estar normal mesmo havendo
		    um corpo estranho intra-ocular.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Suspeita de ferimento penetrante
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não exercer pressão sobre o globo ocular. Pode haver expulsão de conteúdo ocular.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Oclusão do olho acometido.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Medir AV.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não instile nenhum colírio.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Antibioticoterapia sistêmica (por exemplo, cefuroxima 1g IV).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar vacina antitetânica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Radiografia de órbita e seios frontais. Procurar concentrações de líquido, ar ou tecido em prolapso (opacidade). Em geral,
		    no seio maxilar.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Manter em jejum.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Exame físico
		  </div>
		  <div class="item item-text-wrap justify">
		    - Cuidadosamente, tente limpar a área e remover fragmentos de vidro ou outros debris que podem estar visíveis. Nunca "cave à procura"
			  nas proximidades do olho e tecidos sob risco de gerar mais lesões.
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Pálpebras
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Mesmo pequenas lesões papebrais podem ser transfixantes e penetrar o globo.
				</div>
				<div class="item item-text-wrap justify">
					- Verifique se há pequenas perfurações nas pálpebras superior e inferior e logo abaixo da sobrancelha.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Acuidade visual
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Tente verificar e documentar a acuidade visual.
				</div>
				<div class="item item-text-wrap justify">
					- A AV pode estar reduzida em função de uma hemorragia intra-ocular.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
					Conjuntiva
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Uma hemorragia subconjuntival pode mascarar o sítio de entrada de uma lesão penetrante.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Córnea
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Procure sangue atrás da córnea - Hifema.
				</div>
				<div class="item item-text-wrap justify">
					- A córnea pode estar lacerada e a íris pode estar prolapsada/herniada, causando uma irregularidade e desvio em seus bordos.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Pupila
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Distorção da pupila está associada a lesões que acometem a parte anterior do globo.
				</div>
				<div class="item item-text-wrap justify">
					- A pupila pode estar normal no caso de lesões penetrantes posteriores.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Cristalino
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Pode se tornar opaco brevemente. Geralmente dentro de 1h, após ter sido rompida sua cápsula.
				</div>
				<div class="item item-text-wrap justify">
					- Verifique o reflexo vermelho. Este pode mostrar irregularidades corneanas como lacerações, assim como opacidades
					do cristalino e do vítreo.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Fundo de olho
		  		</div>
		  		<div class="item item-text-wrap justify">
					- Procure obter uma visualização da retina.
				</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap justify">
		    <div class="card">
		  		<div class="item item-divider">
		  			Radiografia
		  		</div>
		  		<div class="item item-text-wrap justify">
					- A órbita, os seios paranasais e até cacos de vidro são ocasionalmente radiopacos.
				</div>
		  	</div>
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Anote a acuidade visual se possível.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se você suspeitar de uma rotura de globo, cubra o olho com um tampão. Não toque no olho e não pingue colírios.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se o olho estiver irritado à inspeção, examine à procura de abrasão de córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examine os fórnices inferiores, pedindo que o paciente olhe para cima e suavemente tracione a pálpebra inferior.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver corpos estranhos, remova-os gentilmente utilizando um cotonete. Caso sejam profundos, não os remova.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não inverta a pálpebra superior se houver suspeita de uma lesão penetrante, pois pode haver expulsão dos conteúdos 
		    intra-oculares.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Dê cobertura antibiótica com cefalexina 1g EV ou cefalexina 500g VO.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se há lacerações palpebrais.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Radiografia das órbitas e seios paranasais. Um raio-x normal não exclui que haja corpo estranho.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Mantenha o paciente em jejum se houver possibilidade de se necessitar de cirurgia.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Perda visual irreversível ocorre apenas alguns meses após à lesão inicial devido à toxicidade retiniana, caso haja corpos
		    estranhos intra-oculares que não são detectados cedo e retirados.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Uma RM nunca deve ser solicitada em casos de suspeita de corpo estranho intra-ocular de natureza metálica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Verifique se há lacerações palpebrais e a profundidade destes. Se forem de profundidade total pode haver envolvimento do
		    globo também. Se for de espessura parcial e não transfixar o rebordo palpebral, limpe e faça o reparo com seda 6.0, vicryl
		    ou prolene na pele. Se a laceração for de espessura total, envolver a margem palpebral ou os pontos lacrimais - deixe que
			  o reparo seja feito por um especialista. Coloque um curativo frouxo e estéril sobre a ferida.
		  </div>
	  </div>

</ion-content>
