<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Flashes de luz e "moscas volantes"
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Flashes de luz (fotopsias) - devido à tração mecânica da retina - típico em:<br />
	    * Descolamento de vítreo posterior (DVP) - gerando o gel vítreo descola da superfície retiniana.<br />
	    * Descolamento de retina (DR) - pode ser decorrente de DVP com rotura na retina.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Moscas volantes - opacidades no gel vítreo no eixo visual conforme movimentação ocular - ocorre DVP; hemorragia vítrea, geralmente
	    em diabetes, DVP ou trauma existente há muito tempo - particularmente em pacientes míopes.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Teias de aranha e pontos flutuantes são "moscas volantes".
	  </div>
	  
	  <div class="item item-divider">
	    Exame e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Verificar campos visual de confrontação - defeitos grosseiros podem indicar DR.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar com midriático.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia - procurar por DR ou opacidades vítreas, incluindo hemorragias.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Exame detalhado da retina periférica deverá ser feito pelo especialista.
	  </div>
	  	  
</ion-content>
