<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Neuralgia
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Normalmente consequente à herpes zóster oftálmico, mas pode ocorrer em diabéticos ou após trauma local.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dor pode ser mal localizada ou com pontadas, e seu curso é crônico.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Considerar arterite temporal. Checar VHS e proteína C reativa em pacientes com mais de 50 anos, particularmente se houver
		    outro sinal clínico (VHS pode ocasionalmente estar normal em arterite temporal).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar pressão arterial e análise urinária. Tratar apropriadamente.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Analgesia simples, medicação via oral.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver suspeita de herpes zóster oftálmico, verificar uveíte, aumento de pressão intra-ocular pode estar presente. 
		  </div>
		  <div class="item item-text-wrap justify">
		    - Alívio variável com: amitriptilina (25mg, 1x por dia, VO - atentar para cardiotoxicidade e retenção urinária), carbamazepina
		    (100mg, à noite, VO, apresenta estreita faixa terapêutica e pode alterar o hemograma), estimulação nervosa Transcutânea (TENS).
		  </div>
	  </div>

</ion-content>
