<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Neurite óptica
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Idade média de 20 a 40 anos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A visão pode estar normal ou grosseiramente diminuída.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Redução na percepção de cores, particularmente vermelho.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Redução na percepção de contraste. A luz é mais brilhante no olho normal.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Desconforto ao movimentar os olhos.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Um episódio de neurite óptica, sem nenhum outro sinal neurológico, não indica esclerose múltipla.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pós-viral, geralmente uma infecção do trato respiratório superior em crianças.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Se há história prévia de sinais ou sintomas neurológicos: caracteristicamente parestesia ou fraqueza de membros ou neurite óptica
	    prévia, então uma doença desmielinizante pode estar presente.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Exame
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documentar acuidade visual em cada olho.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pressionar levemente os olhos através das pálpebras. Dor frequentemente associada à neurite.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Solicitar ao paciente para que olhe nas direções extremas. Frequentemente é doloroso.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar defeito pupilar aferente. Pode não estar presente. 
		  </div>
		  <div class="item item-text-wrap justify">
		    - Redução da saturação do vermelho. Solicitar ao paciente para que compare um objeto vermelho brilhante entre os dois olhos. O olho
		    afetado frequentemente irá perceber o objeto mais escuro.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Checar visão de contraste. Uma luz fluorescente geralmente parece menos brilhante no olho afetado.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Campo visual pode ter perda visual central e periférica.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Exame ocular sem outras alterações.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Disco óptico pode estar edemaciado, mas geralmente está normal.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Unilateral, outro olho normal: não tratar; resolução espontânea dentro de 6 semanas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Unilateral grave, outro olho previamente afetado, com visão diminuída: pulsar com metilprednisolona 1,0 a 1,5g em dias
		    alternados, total de 3 pulsos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Bilateral: mesmo tratamento que o anterior.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Não tratar apenas com corticóide oral. Se dado inicialmente pode reduzir o prognóstico visual a longo prazo.
		  </div>
	  </div>

</ion-content>
