<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Óculos incorretos ou ausentes
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pode usar à cefaléia ao invés de dor ocular localizada.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Pacientes frequentemente se queixam de vista cansada, particularmente após leitura prolongada ou televisão.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documentar acuidade visual com óculos se estes forem usados. Podem estar sendo usados os óculos de leitura para televisão, por
		    exemplo (assegurar-se de que estão sendo utilizados os óculos apropriados).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Assegurar-se de que os óculos estão limpos e não estão riscados.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se a visão estiver diminuída, utilizar buraco estenopeico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Melhora da acuidade visual com buraco estenopeico indica necessidade de óculos na maioria dos casos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pacientes de meia idade com dificuldade para leitura podem necessitar de óculos (Presbiopia).
		  </div>
	  </div>

</ion-content>
