<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Olho seco
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Irritação crônica com sensação de queimação.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Injeção difusa.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Corar com fluoresceína e observar sob luz azul. Áreas difusas de puntacta fina corando indicam olho seco.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Iniciar uso de colírio e pomada lubrificante.
		  </div>
	   </div>

</ion-content>
