<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Perda total aguda
	  </div>
	  
	  <div class="item item-divider">
	    Infarto do nervo óptico
	  </div>
	  <div class="item item-text-wrap justify">
	    - Neuropatia óptica isquemia anterior (NOIA): <br />
	    * Arterite temporal (arterítica): bloqueio das artérias que suprem o nervo óptico secundário à inflamação arterial.<br />
	    * Arteriesclerótica (não arteriolar): bloqueio devido a estreitamento anterio em idosos - particularmente hipertensos, tabagistas e arteriopatas.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda visual profunda especialmente na forma arterítica.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda do campo altitudinal (superior ou inferior) comum na forma não arterítica.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Defeito pupilar aferente, edema de disco óptico, hemorragias e exsudatos algodonosos.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar acuidade visual em cada olho - usar buraco estenopeico, se necessário.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Examinar defeito pupilar aferente e documentar.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Nervo óptico frequentemente pálido, edemaciado e com pequenas hemorragias.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A retina pode estar pálida com mácula vermelho-cereja, se uma oclusão arterial estiver presente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir pressão arterial e tratar, se necessário - hipertensão é a causa mais comum de NOIA.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Tratar como arterite temporal se houver suspeita: cefaleia; rigidez de nuca; indivíduos maiores de 65 anos; artérias temporais
	    inflamadas e nodulares; emagrecimento e fraqueza; dor na cintura escapular; claudicação mandibular - dor à mastigação; história de
	    polimialgia reumática.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Tratamento de arterite temporal:<br />
	    * Hidrocortisona 200mg, EV, imediatamente ou metilprednisolona 1,0 - 1,5g, EV, em 30 minutos.<br />
	    * Corticóide oral 60 - 80g se a medicação acima não estiver disponível - por 3 dias e então reduzir lentamente.<br />
	    * Acompanhamento clínico.<br />
	    * Tomar precauções adequadas antes de iniciar altas doses de corticóides em hipertensos e pacientes com história de úlcera
	    péptica - cobrir este último grupo com ranitidina 150mg ou lansoprazol 30mg 2x por dia.<br />
	    * Solicitar VHS e proteína reativa.<br />
	    * Há alto risco do outro olho ser acometido na arterite temporal.<br />
	    * Exame de urina e amostra aleatória de sangue para diabetes.<br />
	    * Ausculta carotídea e cardiológica para ruídos e sopros - fontes embólicas.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Iniciar uso de aspirina 75mg, VO, 1x por dia, se não houver contra-indicação nem evidências de arterite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Orientar o paciente a parar de fumar.
	  </div>
	  
	  <div class="item item-divider">
	    Oclusão de artéria central da retina
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda visual importante, súbita e indolor.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Defeito pupilar aferente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Retina pálida com mácula vermelha.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Êmbolo pode ser visualizado bloqueando artéria retiniana.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hipertensão e tabagismo geralmente estão associados à oclusão arterial ou venosa.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Angina, infarto do miocárdio prévio, doença valvar ou carotídea são predisposições à oclusão arterial.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar defeito pupilar aferente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Considerar arterite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Se achados retinianos confirmam o diagnóstico, tentar restabelecer o fluxo arterial abaixando a pressão intra-ocular e dilatando
	    as artérias:<br />
	    * Diamox EV, 500mg, imediatamente.<br />
	    * GTN sublingual, 300mg, dilata artérias.<br />
	    * Massagear o olho.<br />
	    * Deitar o paciente em decúlito horizontal.<br />
	    * Dizer-lhe para olhar em direção aos pés.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Postar-se atrás do paciente com os dois dedos indicados comprimir o globo firmemente através das pálpebras.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fazer isso firmemente. Se não tiver desconfortável para o paciente, não está sendo feito efetivamente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Continuar por 5 a 10 minutos intermitentemente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fazer com que o paciente respire profundamente num saco de papel de tamanho médio - aumenta a pCO2 e dilata artérias.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Aspirina 75mg, VO, 1x por dia, se o paciente for arterioesclerótico sem evidências de arterite temporal e sem contra-indicações à
	    aspirina.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Chance de recuperação é improvável, particularmente se passadas mais de 2h do início do quadro.
	  </div>

	  <div class="item item-divider">
	    Infarto occipital
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda visual bilateral total ou parcial súbita.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Associação com: hipertensão, trauma e sangramento cerebral.
	  </div>
	  
	  <div class="item item-divider">
	    Exame e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar qualquer função visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pupila e fundoscopia geralmente estão normais.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Se a perda de campo não for total - é congruente - padrão similar em ambos os olhos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Checar pressão arterial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Solicitar TC ou RNM.
	  </div>
	  
</ion-content>
