<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Perda visual parcial aguda
	  </div>
	  
	  <div class="item item-divider">
	    Oclusão de veia central da retina (OVCR) / Oclusão de ramo venoso da retina
	  </div>
	  <div class="item item-text-wrap justify">
	    - Súbita, indolor; geralmente unilateral; pode ocorrer perda de todo o campo.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hipertensão é muito comum - pesquisar diabetes e hiperviscosidade sanguínea (mieloma múltiplo, policitemia).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode associar-se com tabagismo e glaucoma crônico.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Defeito pupilar aferente apenas nos casos graves.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia - toda retina afetada em VCR; apenas parte da retina afetada em BRVO (oclusão de ramo venoso da retina).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hemorragias retinianas - podem ser poucas ou amplamente difusas, frequentemente com exsudatos algodonosos (lesões brancas
	    secundárias a isquemia) e borramento de disco óptico.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Aumento da pressão intra-ocular - maior que 21mnHg - predispõe a oclusão venosa - Se Tonopen® (termômetro portátil) disponível - 
	    então usá-lo e documentar a pressão.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir e tratar a pressão arterial, se necessário.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Checar urina e amostra de sangue aleatória para diabetes.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Colher amostras de sangue para hemograma completo, eletroforese plasmática, glicemia e colesterol.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Orientar o paciente a para de fumar.
	  </div>
	  
	  <div class="item item-divider">
	    Hemorragia macular
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda visual súbita ou "pseudo" (apenas percebida quando o olho contralateral é acidentalmente coberto) súbita, indolor, central,
	    com visão periférica normal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Frequentemente precedida por distorção da visão central. Tipicamente linhas retas parecem onduladas e com pedaços faltando.
	    Normalmente em pacientes com maculopatia relacionada à idade.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Forma frequentemente circular, portanto frequentemente chamada hemorradia disciforme.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Idade maior que 65 anos. Geralmente espontânea e frequente história de degeneração macular.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pacientes mais jovens podem estar associadas à trauma.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar acuidade visual. Pode estar severamente reduzida.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Reflexos pupilares normais.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar pupila com midriático, se necessário.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia - sangramento macular, ou se antigo, fibrose.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode estar associada à hemorragia vítrea.
	  </div>
	  
	  <div class="item item-divider">
	    Hemorragia vítrea
	  </div>
	  <div class="item item-text-wrap justify">
	    - Moderada a grave perda visual, indolor, frequentemente precedida como "moscas volantes" ou flashes.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode haver história de recorrência.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode associar-se com doença diabética ocular avançada (retinopatia proliferativa), oclusão de veia retiniana antiga, lesão de vaso
	    sanguíneo retiniano secundário a descolamento de vítreo posterior de suas adesões retiniana normais, trauma (direto ou através de
	    qualquer manobra de valsava - tosse, espirro, levantar peso).
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Investigar trauma relacionado.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Defeito pupilar aferente sugere descolamento de retina de base ou oclusão venosa antiga.
	  </div>
	  <div class="item item-text-wrap justify">
	    - É comum pouca visibilidade da retina e perda do reflexo vermelho.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar pupila com midriático.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Sangue pode ser visto flutuando no vítreo.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Avaliar a retina do outro olho. Hemorragias retinianas podem indicar retinopatia diabética.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Checar urina e glicemia, se o paciente desconhece diabetes.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hemorragia vítrea pode mascarar um descolamento de retina ou raramente um melanoma.
	  </div>
	  
	  <div class="item item-divider">
	    Descolamento de retina
	  </div>
	  <div class="item item-text-wrap justify">
	    - Frequentemente precedido de flashes ou "moscas volantes".
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda de campo visual indolor total ou parcial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode progredir ao longo de dias.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Frequentemente descrito como cortina cobrindo o olho.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer mais distorção visual do que perda.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode associar-se com miopia, descolamento de vítreo posterior, trauma fechado (recente ou antigo); cirurgia ocular prévia para
	    catarata ou descolamento de retina.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar a acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Um defeito pupilar aferente pode estar presente em um grande descolamento.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia pode evidenciar retina móvel acinzentada, às vezes com superfície enrugada.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Em quadros antigos, a retina pode estar menos móvel, translúcida e de difícil visualização.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Examinar a retina do outro olho.
	  </div>
	  
	  <div class="item item-divider">
	    Neurite óptica
	  </div>
	<div class="item item-text-wrap justify">
		- Idade média de 20 a 40 anos.
	</div>

	<div class="item item-text-wrap justify">
		- A visão pode estar normal ou grosseiramente diminuída.
	</div>

	<div class="item item-text-wrap justify">
		- Redução na percepção de cores, particularmente vermelho.
	</div>

	<div class="item item-text-wrap justify">
		- Redução na percepção de contraste. A luz é mais brilhante no olho normal.
	</div>

	<div class="item item-text-wrap justify">
		- Desconforto ao movimentar os olhos.
	</div>

	<div class="item item-text-wrap justify">
		- Um episódio de neurite óptica, sem nenhum outro sinal neurológico, não indica esclerose múltipla.
	</div>

	<div class="item item-text-wrap justify">
		- Pós-viral, geralmente uma infecção do trato respiratório superior em crianças.
	</div>

	<div class="item item-text-wrap justify">
		- Se há história prévia de sinais ou sintomas neurológicos: caracteristicamente parestesia ou fraqueza de membros ou neurite óptica
		prévia, então uma doença desmielinizante pode estar presente.
	</div>

	<div class="card">
		<div class="item item-divider">
			Exame
		</div>
		<div class="item item-text-wrap justify">
			- Documentar acuidade visual em cada olho.
		</div>
		<div class="item item-text-wrap justify">
			- Pressionar levemente os olhos através das pálpebras. Dor frequentemente associada à neurite.
		</div>
		<div class="item item-text-wrap justify">
			- Solicitar ao paciente para que olhe nas direções extremas. Frequentemente é doloroso.
		</div>
		<div class="item item-text-wrap justify">
			- Checar defeito pupilar aferente. Pode não estar presente.
		</div>
		<div class="item item-text-wrap justify">
			- Redução da saturação do vermelho. Solicitar ao paciente para que compare um objeto vermelho brilhante entre os dois olhos. O olho
			afetado frequentemente irá perceber o objeto mais escuro.
		</div>
		<div class="item item-text-wrap justify">
			- Checar visão de contraste. Uma luz fluorescente geralmente parece menos brilhante no olho afetado.
		</div>
		<div class="item item-text-wrap justify">
			- Campo visual pode ter perda visual central e periférica.
		</div>
		<div class="item item-text-wrap justify">
			- Exame ocular sem outras alterações.
		</div>
		<div class="item item-text-wrap justify">
			- Disco óptico pode estar edemaciado, mas geralmente está normal.
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">
			Tratamento
		</div>
		<div class="item item-text-wrap justify">
			- Unilateral, outro olho normal: não tratar; resolução espontânea dentro de 6 semanas.
		</div>
		<div class="item item-text-wrap justify">
			- Unilateral grave, outro olho previamente afetado, com visão diminuída: pulsar com metilprednisolona 1,0 a 1,5g em dias
			alternados, total de 3 pulsos.
		</div>
		<div class="item item-text-wrap justify">
			- Bilateral: mesmo tratamento que o anterior.
		</div>
		<div class="item item-text-wrap justify">
			- Não tratar apenas com corticóide oral. Se dado inicialmente pode reduzir o prognóstico visual a longo prazo.
		</div>
	</div>
	  
	  <div class="item item-divider">
	    Enxaqueca
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda de visão súbita, usualmente transitória, com perda de campo visual total ou parcial, que pode tornar-se permanente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Cefaleia pode não estar presente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A perda visual pode mimetizar um AVC.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer aura visual de enxaqueca - Classicamente luzes ziguezagueantes que se movem progressivamente pelo campo visual 
	    (espectro de fortificação).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Visão usualmente normal entre os episódios - perda profunda pode ocorrer devido a espasmo arterial retiniano e até infarto
	    cerebral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Exame de campo visual pode revelar um defeito setorial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode associar-se com pílula anticoncepcional; chocolate; queijo; estresse; frequentemente forte história familiar.
	  </div>
	  
	  <div class="item item-divider">
	    Tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar a acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Checar e documentar campo visual de confrontação.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Checar pressão arterial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Se for maior de 50 anos, checar VHS e considerar arterite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Examinar ruídos carotídeos, sopros cardíacos e fibrilação arterial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Examine de fundo de olho.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Tratar enxaqueca recorrente.
	  </div>
	  
</ion-content>
