<ion-content>
    <div class="item item-divider ">
        <i class="icon ion-checkmark"></i>&nbsp; Perda funcional
    </div>
    <div class="item item-text-wrap justify">
        - Paciente queixa-se de perda visual para qual nenhuma causa é encontrada. É um diagnóstico de exclusão.
    </div>
    <div class="item item-text-wrap justify">
        - Sintomas e sinais não se encaixam.
    </div>
    <div class="item item-text-wrap justify">
        - Frequentemente o paciente está desolado.
    </div>
    <div class="item item-text-wrap justify">
        - Pode estar associado a histeria (paciente acredita genuinamente na perda visual); má fé; distúrbios psiquiátricos; ganhos
        socioeconômicos; chamar a atenção (comum em meninas adolescentes ou crianças com problemas em casa ou escolares).
    </div>

    <div class="item item-divider">
        Tratamento
    </div>
    <div class="item item-text-wrap justify">
        - Documentar o exame detalhadamente.
    </div>
    <div class="item item-text-wrap justify">
        - Medir a acuidade visual em cada olho separadamente - com óculos, se estes são utilizados ou buraco estenopeico se forem esquecidos.
    </div>
    <div class="item item-text-wrap justify">
        - Reflexos pupilares normais.
    </div>
    <div class="item item-text-wrap justify">
        - Campos visuais - podem apresentar padrão em espiral ou não específicos ou não reproduzíveis.
    </div>
    <div class="item item-text-wrap justify">
        - Aumentar luz brilhante em cada olho sem avisar e atentar se o paciente pisca quando no olho "cego".
    </div>
    <div class="item item-text-wrap justify">
        - Fundo de olho - atentar particularmente para o disco óptico que deve ser rosa e saudável e a mácula (retina temporal ao disco
        óptico) que deve ter uma aparência seca, com um pequeno reflexo luminoso na sua parte central.
    </div>
    <div class="item item-text-wrap justify">
        - Improvável em idosos - considerar infarto occipital que destruiu córtex visual, particularmente se houver história de doença
        cardiovascular - as pupilas estarão normais em um infarto occipital.
    </div>
    <div class="item item-text-wrap justify">
        - Solicitar ao paciente que assine seu nome - enganadores podem fingir-se ser capazes de fazê-lo, pacientes verdadeiramente cegos
        mantém esta capacidade.
    </div>
</ion-content>