<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Perda crônica da visão
	  </div>

	<div class="item item-text-wrap item-divider">
		Degeneração macular relacionada à idade (DMRI)
	</div>
	<div class="item item-text-wrap justify">
		- Geralmente após 65 anos.
	</div>
	<div class="item item-text-wrap justify">
		- Redução gradual de visão central - dificuldade na leitura e reconhecimento de pessoas. A perda de visão é precedida pela
		distorção visual.
	</div>
	<div class="item item-text-wrap justify">
		- Hemorragia macular - piora súbita.
	</div>
	<div class="item item-text-wrap justify">
		- Visão periférica geralmente é normal.
	</div>

	<div class="card">
		<div class="item item-divider">
			Exame
		</div>
		<div class="item item-text-wrap justify">
			- Medir a acuidade visual.
		</div>
		<div class="item item-text-wrap justify">
			- Usar o buraco estenopeico - pode piorar a AV.
		</div>
		<div class="item item-text-wrap justify">
			- Solicite ao paciente que olhe para um objeto retilíneo - se distorcido indica maculopatia.
		</div>
		<div class="item item-text-wrap justify">
			- Tela de Amsler:<br />
			* segurar a tela à distância de leitura, cobrindo um olho;<br />
			* com o olho fixo no ponto central da tela, questionar se as linhas estão retilíneas - distorção indica maculopatia.
		</div>
		<div class="item item-text-wrap justify">
			- O exame pupilar é normal - no entanto, em geral ela é miótica nos idosos.
		</div>
		<div class="item item-text-wrap justify">
			- Dilatar a pupila com midriático.
		</div>
		<div class="item item-text-wrap justify">
			- O exame de mácula - solicite ao paciente que olhe diretamente para a luz do oftalmoscópio ou procure temporalmente ao disco
			óptico cerca de 2 a 3 diâmetros de disco.
		</div>
		<div class="item item-text-wrap justify">
			- A catarata é frequente nese grupo de pacientes (acima de 65 anos).
		</div>
	</div>

	<div class="item item-divider">
		Catarata
	</div>
	<div class="item item-text-wrap justify">
		- Causa mais comum de perda visual crônica.
	</div>
	<div class="item item-text-wrap justify">
		- A maior parte dos casos é relacionada à idade - catarata senil. Pode ocorrer por trauma.
	</div>
	<div class="item item-text-wrap justify">
		- Pode afetar visão para longe e/ou perto, uni/bilateral.
	</div>
	<div class="item item-text-wrap justify">
		- Ofuscamento e obscurecimento ao redor de objetos são os sintomas mais comuns.
	</div>
	<div class="item item-text-wrap justify">
		- A perda de visão periférica e central ocorre em meses ou anos.
	</div>
	<div class="item item-text-wrap justify">
		- A dificuldade aumenta na exposição solar ou na leitura.
	</div>

	<div class="card">
		<div class="item item-divider">
			Exames e abordagem
		</div>
		<div class="item item-text-wrap justify">
			- Medir a acuidade visual.
		</div>
		<div class="item item-text-wrap justify">
			- Realize teste de buraco estenopeico, se estiver sem os óculos.
		</div>
		<div class="item item-text-wrap justify">
			- Procure reflexo vermelho - se obscurecido pode indicar catarata.
		</div>
		<div class="item item-text-wrap justify">
			- Fundoscopia poderá ser difícil ou impossível.
		</div>
		<div class="item item-text-wrap justify">
			- Procure opacidade de cristalino, se a lâmpada de fenda estiver disponível.
		</div>
		<div class="item item-text-wrap justify">
			- Dilatar a pupila com midriático.
		</div>
	</div>

	<div class="item item-divider">
		Glaucoma
	</div>
	<div class="item item-text-wrap justify">
		- O glaucoma crônico é indolor, diferente do agudo e geralmente diagnosticado em exame de rotina.
	</div>
	<div class="item item-text-wrap justify">
		- A perda de campo visual é notada geralmente quando visão central já foi afetada, porém inicia-se com a perda de visão periférica.
	</div>
	<div class="item item-text-wrap justify">
		- História familiar positiva.
	</div>
	<div class="item item-text-wrap justify">
		- Pode ocorrer reação alérgica aos colírios.
	</div>

	<div class="card">
		<div class="item item-divider">
			Exame e abordagem
		</div>
		<div class="item item-text-wrap justify">
			- Medir a acuidade visual.
		</div>
		<div class="item item-text-wrap justify">
			- Avaliar campo visual - glaucoma avançado se campo for alterado.
		</div>
		<div class="item item-text-wrap justify">
			- Medir pressão intra-ocular, se tonômetro for disponível.
		</div>
		<div class="item item-text-wrap justify">
			- Disco óptico pode estar pálido e escavado ou com perda localizada de rima nervosa.
		</div>

		<div class="item item-divider">
			Oclusão de veia central da retina (OVCR) / Oclusão de ramo venoso da retina
		</div>
		<div class="item item-text-wrap justify">
			- Súbita, indolor; geralmente unilateral; pode ocorrer perda de todo o campo.
		</div>
		<div class="item item-text-wrap justify">
			- Hipertensão é muito comum - pesquisar diabetes e hiperviscosidade sanguínea (mieloma múltiplo, policitemia).
		</div>
		<div class="item item-text-wrap justify">
			- Pode associar-se com tabagismo e glaucoma crônico.
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">
			Tratamento
		</div>
		<div class="item item-text-wrap justify">
			- Documentar acuidade visual.
		</div>
		<div class="item item-text-wrap justify">
			- Defeito pupilar aferente apenas nos casos graves.
		</div>
		<div class="item item-text-wrap justify">
			- Fundoscopia - toda retina afetada em VCR; apenas parte da retina afetada em BRVO (oclusão de ramo venoso da retina).
		</div>
		<div class="item item-text-wrap justify">
			- Hemorragias retinianas - podem ser poucas ou amplamente difusas, frequentemente com exsudatos algodonosos (lesões brancas
			secundárias a isquemia) e borramento de disco óptico.
		</div>
		<div class="item item-text-wrap justify">
			- Aumento da pressão intra-ocular - maior que 21mnHg - predispõe a oclusão venosa - Se Tonopen® (termômetro portátil) disponível -
			então usá-lo e documentar a pressão.
		</div>
		<div class="item item-text-wrap justify">
			- Medir e tratar a pressão arterial, se necessário.
		</div>
		<div class="item item-text-wrap justify">
			- Checar urina e amostra de sangue aleatória para diabetes.
		</div>
		<div class="item item-text-wrap justify">
			- Colher amostras de sangue para hemograma completo, eletroforese plasmática, glicemia e colesterol.
		</div>
		<div class="item item-text-wrap justify">
			- Orientar o paciente a para de fumar.
		</div>
	</div>

	<div class="item item-divider">
		Oclusão de artéria central da retina
	</div>
	<div class="item item-text-wrap justify">
		- Perda visual importante, súbita e indolor.
	</div>
	<div class="item item-text-wrap justify">
		- Defeito pupilar aferente.
	</div>
	<div class="item item-text-wrap justify">
		- Retina pálida com mácula vermelha.
	</div>
	<div class="item item-text-wrap justify">
		- Êmbolo pode ser visualizado bloqueando artéria retiniana.
	</div>
	<div class="item item-text-wrap justify">
		- Hipertensão e tabagismo geralmente estão associados à oclusão arterial ou venosa.
	</div>
	<div class="item item-text-wrap justify">
		- Angina, infarto do miocárdio prévio, doença valvar ou carotídea são predisposições à oclusão arterial.
	</div>

	<div class="card">
		<div class="item item-divider">
			Tratamento
		</div>
		<div class="item item-text-wrap justify">
			- Documentar acuidade visual.
		</div>
		<div class="item item-text-wrap justify">
			- Documentar defeito pupilar aferente.
		</div>
		<div class="item item-text-wrap justify">
			- Considerar arterite temporal.
		</div>
		<div class="item item-text-wrap justify">
			- Se achados retinianos confirmam o diagnóstico, tentar restabelecer o fluxo arterial abaixando a pressão intra-ocular e dilatando
			as artérias:<br />
			* Diamox EV, 500mg, imediatamente.<br />
			* GTN sublingual, 300mg, dilata artérias.<br />
			* Massagear o olho.<br />
			* Deitar o paciente em decúlito horizontal.<br />
			* Dizer-lhe para olhar em direção aos pés.
		</div>
		<div class="item item-text-wrap justify">
			- Postar-se atrás do paciente com os dois dedos indicados comprimir o globo firmemente através das pálpebras.
		</div>
		<div class="item item-text-wrap justify">
			- Fazer isso firmemente. Se não tiver desconfortável para o paciente, não está sendo feito efetivamente.
		</div>
		<div class="item item-text-wrap justify">
			- Continuar por 5 a 10 minutos intermitentemente.
		</div>
		<div class="item item-text-wrap justify">
			- Fazer com que o paciente respire profundamente num saco de papel de tamanho médio - aumenta a pCO2 e dilata artérias.
		</div>
		<div class="item item-text-wrap justify">
			- Aspirina 75mg, VO, 1x por dia, se o paciente for arterioesclerótico sem evidências de arterite temporal e sem contra-indicações à
			aspirina.
		</div>
		<div class="item item-text-wrap justify">
			- Chance de recuperação é improvável, particularmente se passadas mais de 2h do início do quadro.
		</div>
	</div>

  	<div class="item item-divider">
		Neurite óptica
  	</div>
	<div class="item item-text-wrap justify">
		- Idade média de 20 a 40 anos.
	</div>

	<div class="item item-text-wrap justify">
		- A visão pode estar normal ou grosseiramente diminuída.
	</div>

	<div class="item item-text-wrap justify">
		- Redução na percepção de cores, particularmente vermelho.
	</div>

	<div class="item item-text-wrap justify">
		- Redução na percepção de contraste. A luz é mais brilhante no olho normal.
	</div>

	<div class="item item-text-wrap justify">
		- Desconforto ao movimentar os olhos.
	</div>

	<div class="item item-text-wrap justify">
		- Um episódio de neurite óptica, sem nenhum outro sinal neurológico, não indica esclerose múltipla.
	</div>

	<div class="item item-text-wrap justify">
		- Pós-viral, geralmente uma infecção do trato respiratório superior em crianças.
	</div>

	<div class="item item-text-wrap justify">
		- Se há história prévia de sinais ou sintomas neurológicos: caracteristicamente parestesia ou fraqueza de membros ou neurite óptica
		prévia, então uma doença desmielinizante pode estar presente.
	</div>

	<div class="card">
		<div class="item item-divider">
			Exame
		</div>
		<div class="item item-text-wrap justify">
			- Documentar acuidade visual em cada olho.
		</div>
		<div class="item item-text-wrap justify">
			- Pressionar levemente os olhos através das pálpebras. Dor frequentemente associada à neurite.
		</div>
		<div class="item item-text-wrap justify">
			- Solicitar ao paciente para que olhe nas direções extremas. Frequentemente é doloroso.
		</div>
		<div class="item item-text-wrap justify">
			- Checar defeito pupilar aferente. Pode não estar presente.
		</div>
		<div class="item item-text-wrap justify">
			- Redução da saturação do vermelho. Solicitar ao paciente para que compare um objeto vermelho brilhante entre os dois olhos. O olho
			afetado frequentemente irá perceber o objeto mais escuro.
		</div>
		<div class="item item-text-wrap justify">
			- Checar visão de contraste. Uma luz fluorescente geralmente parece menos brilhante no olho afetado.
		</div>
		<div class="item item-text-wrap justify">
			- Campo visual pode ter perda visual central e periférica.
		</div>
		<div class="item item-text-wrap justify">
			- Exame ocular sem outras alterações.
		</div>
		<div class="item item-text-wrap justify">
			- Disco óptico pode estar edemaciado, mas geralmente está normal.
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">
			Tratamento
		</div>
		<div class="item item-text-wrap justify">
			- Unilateral, outro olho normal: não tratar; resolução espontânea dentro de 6 semanas.
		</div>
		<div class="item item-text-wrap justify">
			- Unilateral grave, outro olho previamente afetado, com visão diminuída: pulsar com metilprednisolona 1,0 a 1,5g em dias
			alternados, total de 3 pulsos.
		</div>
		<div class="item item-text-wrap justify">
			- Bilateral: mesmo tratamento que o anterior.
		</div>
		<div class="item item-text-wrap justify">
			- Não tratar apenas com corticóide oral. Se dado inicialmente pode reduzir o prognóstico visual a longo prazo.
		</div>
	</div>
	  
	  <div class="item item-divider">
	    Lesão expansiva de SNC ou AVC
	  </div>
	  <div class="item item-text-wrap justify">
	    - Defeito de campo visual de acordo com topografia da lesão.
	  </div>
	  <div class="item item-text-wrap justify">
	    - AVC apresenta perda súbita.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Lesão expansiva apresenta perda gradual.
	  </div>

	<div class="card">
	  <div class="item item-divider">
	    Exames e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Campo visual de confrontação.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Exame neurológico completo, incluindo nervos cranianos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Borramento de papila indica papiledema e com lesão expansiva.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Nervo óptico pode estar pálido ou escavado.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Restante de exame neurológico geralmente é normal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Verificar a pressão arterial e tratar conforme necessário.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Considerar enxaqueca - a perda de campo visual pode ser transitória ou permanente.
	  </div>
	</div>
	  	  
</ion-content>
