<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Perda transitória da visão
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Perda súbita e transitória da visão com duração de segundos ou minutos e recuperação - geralmente relacionada à isquemia retiniana.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda visual pode ser total ou parcial.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer percepção da cor verde antes da perda visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Enxaqueca pode acarretar perda visual transitória ou até permanente, decorrente de isquemia cerebral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perdas bilaterais geralmente são secundárias à redução de fluxo sanguíneo cerebral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Cefaleia pode ocorrer nos casos de insuficiência de carótida, enxaqueca e arterite temporal.
	  </div>
	  
	  <div class="item item-divider">
	    Principais causas
	  </div>
	  <div class="item item-text-wrap justify">
	    - Êmbolo plaquetário / colesterol na circulação retiniana originárias das artérias carótidas.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fibrilação atrial
	  </div>
	  <div class="item item-text-wrap justify">
	    - Insuficiência vertebrobasilar ou carotídea, levando à perda bilateral simultânea.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Arterite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Enxaqueca.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Glaucoma.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Papiledema.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hipertensão intracraniana benigna / pseudotumor cerebral - mulher, jovem e normalmente obesa.
	  </div>
	  
	  <div class="item item-divider">
	    Exame e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV - com óculos, se necessário, ou buraco estenopeico.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Palpar artéria temporal - se sólida, não pulsátil, em pacientes acima de 50 anos, suspeitar de arterite temporal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Campo visual de confrontação.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pupilas - geralmente normais.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar com midriático - evitar isso se suspeitar de glaucoma agudo (dor, halos em volta da luz).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia - procure êmbolos na circulação retiniana - ponto brancos dentro das arteríolas adjacente ao nervo óptico ou mais
	    perifericamente.
	  </div>
	  <div class="item item-text-wrap justify">
	    - AAS 75mg/dia, se houver êmbolo retiniano ou se não houver contra-indicação.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Auscultar as carótidas por sopros (insuficiência carotídea).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Edema de disco óptico pode indicar pepiledema se bilateral, ou infarto retiniano extenso - realizar exame neurológico completo.
	  </div>
	  
</ion-content>
