<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Perda crônica da visão
	  </div>
	  
	  <div class="item item-divider">
	    Catarata
	  </div>
	  <div class="item item-text-wrap justify">
	    - Causa mais comum de perda visual crônica.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A maior parte dos casos é relacionada à idade - catarata senil. Pode ocorrer por trauma.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode afetar visão para longe e/ou perto, uni/bilateral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Ofuscamento e obscurecimento ao redor de objetos são os sintomas mais comuns.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A perda de visão periférica e central ocorre em meses ou anos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A dificuldade aumenta na exposição solar ou na leitura.
	  </div>
	  
	  <div class="item item-divider">
	    Exames e abordagem
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir a acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Realize teste de buraco estenopeico, se estiver sem os óculos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Procure reflexo vermelho - se obscurecido pode indicar catarata.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Fundoscopia poderá ser difícil ou impossível.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Procure opacidade de cristalino, se a lâmpada de fenda estiver disponível.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar a pupila com midriático.
	  </div>
	  
	  <div class="item item-divider">
	    Glaucoma
	  </div>
	  <div class="item item-text-wrap justify">
	    - O glaucoma crônico é indolor, diferente do agudo e geralmente diagnosticado em exame de rotina.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A perda de campo visual é notada geralmente quando visão central já foi afetada, porém inicia-se com a perda de visão periférica.
	  </div>
	  <div class="item item-text-wrap justify">
	    - História familiar positiva.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode ocorrer reação alérgica aos colírios.
	  </div>
	  
	  <div class="item item-divider">
	    Exame e abordagem
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir a acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Avaliar campo visual - glaucoma avançado se campo for alterado.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir pressão intra-ocular, se tonômetro for disponível.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Disco óptico pode estar pálido e escavado ou com perda localizada de rima nervosa.
	  </div>
	  
	  <div class="item item-divider">
	    Degeneração macular relacionada à idade (DMRI)
	  </div>
	  <div class="item item-text-wrap justify">
	    - Geralmente após 65 anos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Redução gradual de visão central - dificuldade na leitura e reconhecimento de pessoas. A perda de visão é precedida pela
	    distorção visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hemorragia macular - piora súbita.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Visão periférica geralmente é normal.
	  </div>
	  
	  <div class="item item-divider">
	    Exame
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir a acuidade visual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Usar o buraco estenopeico - pode piorar a AV.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Solicite ao paciente que olhe para um objeto retilíneo - se distorcido indica maculopatia.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Tela de Amsler:<br />
	    * segurar a tela à distância de leitura, cobrindo um olho;<br />
	    * com o olho fixo no ponto central da tela, questionar se as linhas estão retilíneas - distorção indica maculopatia.
	  </div>
	  <div class="item item-text-wrap justify">
	    - O exame pupilar é normal - no entanto, em geral ela é miótica nos idosos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar a pupila com midriático.
	  </div>
	  <div class="item item-text-wrap justify">
	    - O exame de mácula - solicite ao paciente que olhe diretamente para a luz do oftalmoscópio ou procure temporalmente ao disco
	    óptico cerca de 2 a 3 diâmetros de disco.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A catarata é frequente nese grupo de pacientes (acima de 65 anos).
	  </div>
	  
	  <div class="item item-divider">
	    Maculopatia e retinopatia diabética
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda de visão central pela maculopatia de caráter crônico.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Retinopatia diabética não proliferativa geralmente é assintomática.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hemorragia vítrea geralmente é associada à retinopatia proliferativa.
	  </div>
	  
	  <div class="item item-divider">
	    Exame e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar a acuidade visual para longe e perto.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dilatar a pupila com midriático.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A mácula pode estar espessada com edema, apresentado hemorragias e exsudatos.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Restante do exame normal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode haver hemorragia vítrea.
	  </div>
	  
	  <div class="item item-divider">
	    Pós-facectomia (cirurgia de catarata)
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda progressiva da acuidade visual com ofuscamento e obscurecimento devido ao espessamento da cápsula posterior (membrana onde
	    se implanta a lente intra-ocular).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Perda de visão central no edema macular. Edema macular crônico geralmente é irreversível, portanto, não necessita de tratamento.
	  </div>
	  <div class="item item-text-wrap justify">
	    - A perda visual pode mimetizar um AVC.
	  </div>
	  
	  <div class="item item-divider">
	    Exame
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dificuldade na fundoscopia, se houver opacidade de cápsula posterior.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Se a lâmpada de fenda for disponível, visualiza-se a membrana opacificada atrás da LIO.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Examine a mácula - uma aparência anormal pode indicar edema macular, principalmente após cirurgia complicada.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pode se realizar capsulotomia com yag Laser se houver opacidade de cápsula posterior.
	  </div>
	  
	  <div class="item item-divider">
	    Refração desatualizada
	  </div>
	  <div class="item item-text-wrap justify">
	    - Redução gradual na acuidade visual
	  </div>
	  <div class="item item-text-wrap justify">
	    - Intolerância a óculos atual.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Comum na meia idade, quando se necessita atualização de óculos de leitura.
	  </div>
	  
	  <div class="item item-divider">
	    Ametropia tóxica ou nutricional
	  </div>
	  <div class="item item-text-wrap justify">
	    - Redução gradual na AV central e visão de cores.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Dieta pobre, tabagistas e etilistas graves.
	  </div>
	  
	  <div class="item item-divider">
	    Exame e tratamento
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documentar campo visual de confrontação.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Exame ocular geralmente é normal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Nervo óptico pode apresentar discreta palidez.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Colher dosagem sérica de vitamina B12 e ácido fólico.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Recomendações sobre a dieta e sobre parar de fumar.
	  </div>
	  
	  <div class="item item-divider">
	    Ceratocone
	  </div>
	  <div class="item item-text-wrap justify">
	    - A córnea assume forma cônica em processo indolor porém associado a lenta redução na acuidade visual e mudanças frequentes na
	    prescrição de óculos.
	  </div>
	  
</ion-content>
