<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Plástica ocular e trauma
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Os procedimentos mais comuns são: correção de ectrópio e entrópio; remoção de cistos e tumores palpebrais; reconstrução de
	    pálpebras em grandes excisões cirúrgicas; reparação de lausações traumáticas.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Complicações: deiscência de sutura e infecção de ferida operatória.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Descência de sutura: </br>
		    * Limpeza e tratamento com pomada de antibiótico tópico ou antibiótico sistêmico de grande espectro em qualquer sinal de infecção.<br />
		    * Remover sutura que estiver causando abrasão na superfície ocular.<br />
		    * Utilizar oclusão ocular.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Infecção de ferida operatória: Limpeza e tratamento com pomada de antibiótico em infecções localizadas ou antibiótico sistêmico
		    de amplo espectro para qualquer sinal de celulite.
		  </div>
	  </div>

</ion-content>
