<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Ptose
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Queda da pálpebra superior.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Se unilateral, suspeitar de paralisia de III par (paralisia de III par dolorosa pode indicar aneurisma cerebral, sendo emergência
		  neurocirúrgica).
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Considerar miastenia grave.
	  </div>

</ion-content>
