<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Reação alérgica
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Alérgenos comuns incluem poeira doméstica e maquiagem.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - É típica com os colírios antibióticos administrados devido a conjuntivite.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Vômitos e dor abdominal podem acompanhar.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A resposta alérgica aguda às lentes de contato geralmente ocorre depois de muitos anos de uso sem nenhum problema.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A pele periorbital pode ter escoriações, eritema e edema.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Identifique todos os colírios usados recentemente. Em geral para conjuntivite.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Remova as lentes de contato usando anestesia nos casos em que é preciso.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Suspenda todos os colírios e mude para medicamentos alternativos, se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Os colírios para glaucoma não devem ser suspensos.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Atropina, propina, alphagan - reação comum.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Betoptic, Timoptol, Xalatan, pilocarpina - reações menos comum.
		  </div>
		  <div class="item item-text-wrap justify">
		    - As compressas de gelo sobre os olhos proporcionam bem estar e reduzem o edema.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se a conjuntiva estiver clara e cheia de líquido, frequentemente com edema na pele circundante - provável resposta a alérgeno,
		    como pólen ou poeira doméstica. Em geral, início agudo dentro de 1 ou 2h. Responde à compressa de gelo sobre os olhos fechados.
			  Usar os colirios antialérgicos 4x por dia até que se resolva. Anti-histamínicos orais podem ser necessários.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Interrompa o uso de maquiagem.
		  </div>
	   </div>

</ion-content>
