<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Sinusite
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Frequente história de sinusite recorrente
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A dor pode ser aguda ou crônica, com recaídas.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Assegurar-se de que a acuidade visual, pupilas e movimentos oculares estão normais e documentá-los.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Comprimir os seios frontais e maxilares. Dor baseia o diagnóstico.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Radiografia dos seios paranasais se o diagnóstico for duvidoso.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Iniciar antibioticoterapia por via oral, 4x por dia durante 10 dias.
		  </div>
	  </div>

</ion-content>
