<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Tratamento a laser
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Laser de argônio e diodo - queimaduras térmicas
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Yag laser - descarrega pulso de energia em plano focalizado e rompe o tecido - não térmico.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Diabéticos
		  </div>
		  <div class="item item-text-wrap justify">
		    - Laser de argônio é usado para ablação de retina para tratamento de neovascularização (doença proliferatina), PFC -
		    panfotoregulação, ou mais localizada em vasos que estão extravazando - laser focal.
		  </div>
		  <div class="item item-text-wrap justify">
		    - O tratamento é realizado na lâmpada de fenda, geralmenteem várias sessões.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Desconforto normalmente é secundário a flash brilhante de bases mais do que à pequena queimadura térmica retiniana.
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Glaucoma
		  </div>
		  <div class="item item-text-wrap justify">
		    - Yag laser pode ser usado para criar inidotomia periférica na íris no glaucoma agudo. Este procedimento cria um pequeno buraco
		    na íris periférica, possibilitando fluxo de humor aquoso. Pode ser feito profilaticamente em indivíduo com risco de glaucoma
		    de ângulo fechado.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Panfotocoagulação com laser de argônio é usado nos casos de glaucoma secundário a doença neovascular - geralmente em
		    oclusão de veia central da retina, o que pode levar a rubeose (neovasos de íris).
		  </div>
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Após cirurgia de catarata
		  </div>
		  <div class="item item-text-wrap justify">
		    - Yag laser é usado para fazer um buraco na cápsula posterior atrás da lente intra-ocular nos casos em que a cápsula se espessa
		    e reduz acuidade (capsulotomia)
		  </div>
		  <div class="item item-text-wrap justify">
		    - Laser não é usado para remover catarata - um probe de ulta - som normalmente é utilizado (facoemulsificação).
		  </div>
	  </div>

</ion-content>
