<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Alterações dos cílios (triquíase) e entrópio
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Triquíase: cílios voltados para dentro levando a abrasões.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Sensação de corpo estranho recorrente.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Mais comum em idosos.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Diferenciar entre triquíase (cílios alternantes crescem em direção à córnea) e entrópio (a pálpebra se inverte permitindo que
		    os cílios toquem a córnea).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instilar fluoresceína diluída e procurar por abrasões induzidas pelos cílios.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se não houver entrópio, identifique e retire(epilar) o cílio que lesa a córnea.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver entrópio use Steristrip® ou outro tipo de fita(medida temporária útil) para puxar a pálpebra inferior para fora do
		    globo. Seque a pele; coloque uma extremidade da fita na pele logo abaixo dos cílios; tracione a fita levemente; prenda a outra
		    ponta na bochecha; use três fitas enfileiradas.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se houver manchas na córnea, prescreva pomada antibiótica.
		  </div>
	  </div>
	  
</ion-content>
