<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Úlcera de córnea
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Existem 3 grupos principais:
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Bacteriana
		  </div>
		  <div class="item item-text-wrap justify">
		    - Associada a uso de lente de contato e alterações de superfície (como olho seco), trauma prévio - padrão denso: geralmente
		    bacteriano, mas pode ser herpético - frequentemente opacidade branca elevada.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Associada a afecções palpebrais
		  </div>
		  <div class="item item-text-wrap justify">
		    - Blefarite e rosácea. Pode levar a úlceras na borda corneana geralmente em forma de crescente (úlcera marginal) mais
		    relacionada a endotoxinas do que a uma franca infecção.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Úlcera dendrítica
		  </div>
		  <div class="item item-text-wrap justify">
		    - herpes virais, ramificada, pode ser única ou múltiplas.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Diferenciar o tipo de úlcera de acordo com a história e as características
		  </div>
		  <div class="item item-text-wrap justify">
		    - Instile uma gota de fluoresceína e observe sob a luz azul de cobalto. Poderá realçar um defeito epitelial e tornará as
		    úlceras dendríticas superficiais aparentes.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Úlceras relacionadas a lentes de contato
		  </div>
		  <div class="item item-text-wrap justify">
		    - Raspe a úlcera com uma lâmina estéril e envie para pesquisa bacteriológica. Se não tiver segurança para este procedimento,
		    faça um swab com um culturete estéril.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Faça um swab para vírus.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Cefuroxima 5%, colírio (50 mg/ml) a cada hora (pode ser preparado a partir da solução EV).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Gentamicina 1,5%, colírio a cada hora (adicionar 4ml de água estéril para 80 mg/ml de gentamicina EV).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Atropina 1%, 8/8h.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Úlceras dendríticas
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pomada de zovirax 3% - 5x por dia durante 5 dias. Certifique-se de que a pomada seja para uso oftálmico e não dermatológico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Cicloplégico de 12/12h.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pequenas úlceras dendríticas se resolvem em 5 a 7 dias com tratamento adequado.
		  </div>
	   </div>
	   
	   <div class="card">
		  <div class="item item-divider">
		    Úlceras marginais
		  </div>
		  <div class="item item-text-wrap justify">
		    - Pomada de antibiótico 4x por dia durante 7 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Cicloplégico de 12/12h, se o olho estiver doloroso.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Estas se resolvem rapidamente com corticosteróides tópicos 3x por dia durante 7 dias.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Trate a blefarite se houver.
		  </div>
	   </div>

</ion-content>
