<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Uveíte
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Sinais: fotofobia; injeção perilimbar(junção entre a córnea e a esclera); dor ocular; pupila pequena; história de episódios
	    recorrentes, principalmente em homens jovens com espondilite anquilosante.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Confie no paciente se ele não estiver muito abalado. Geralmente eles estão acostumados com o tratamento apropriado.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Verifique se o paciente não tem uma úlcera dendrítrica na córnea.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Se a uveíte for leve e o paciente não estiver muito atolado, trate com:
	    <div class="item item-text-wrap justify">
		    - Colírios de corticosteróide de 2/2h (só inicie o tratamento com este colírios se estiver
		    seguro que não há úlcera de córnea).
		</div>
	    <div class="item item-text-wrap justify">
		    - Cicloplégico de 12/12h.
		</div>
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Verifique se a pupila dilata com este colírio. Caso contrário, pode haver sinéquias posteriores (com o cristalino) e um midriático
	    mais potente pode ser necessário (exemplo, atropina 1%).
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Examine o fundo de olho: a uveíte pode ser secundária a um tumor intra-ocular ou um descolamento de retina.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Fotofobia e dor são típicos de uveíte e raros na conjuntivite.
	  </div>

</ion-content>
