<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Tipo de secreção: secreção amarela ou branca, comum em conjuntivite bacteriana; secreção aquosa pode ocorrer em conjuntivite
	    viral ou bacteriana não tratada completamente.
	  </div>

	  <div class="item item-text-wrap justify">
		- Histórico de manobra de valsava ou de trauma. A hemorragia subconjuntival é comum depois de aumento súbito da pressão arterial.
	  </div>

	  <div class="item item-text-wrap justify">
		- Hipertensão ou diabetes: hemorragia subconjuntival espontânea é mais comum nesses grupos.
	  </div>

	  <div class="item item-text-wrap justify">
		- Episódios anteriores: a recidiva é comum em hemorragias subconjuntivais, conjuntivites, episclerites e reações alérgicas.
	  </div>

</ion-content>
