<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-person"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Uso de brocas, esmeris, soldas ou martelos. Verifique se há corpo estranho corneano e considere perfuração ocular por partículas
	    em alta velocidade.
	  </div>

	  <div class="item item-text-wrap justify">
		- Dor ao olhar para a luz (Fotofobia) - sugere inflamação intra ocular, como nas uveítes e abrasões severas.
	  </div>

	  <div class="item item-text-wrap justify">
		- Trauma ocular. Passado ou atual. Um trauma direto em geral é visível e facilmente reconhecido.
	  </div>

	  <div class="item item-text-wrap justify">
		- Lentes de contato. O uso excessivo ou má higiene podem levar a úlceras de córnea ou abrasões.
	  </div>

	  <div class="item item-text-wrap justify">
		- Cirurgia ocular. Recente em remota. Qualquer deterioração da visão após a cirurgia pode indicar infecção. Pode ocorrer irritação
		ou desconforto após cirurgia de catarata, de retina ou de correção de estrabismo.
	  </div>

	  <div class="item item-text-wrap justify">
		- Uveíte prévia ("inflamação ocular"). Pesquisar espondilite anquilosante em homens jovens com história de uveíte recorrente.
	  </div>

	  <div class="item item-text-wrap justify">
		- Diminuição visual. ocorre na maioria dos casos devido a lacrimejamento excessivo, fotofobia ou quebra da zona óptica central
		devido a uma abrasão. No glaucoma pode ocorrer turvação corneana.
	  </div>
	
</ion-content>
