<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Externo
	  </div>
	  <div class="item item-text-wrap justify">
	    - Certifique-se de que não há edema das pálpebras ou do tecido periorbital, que poderia indicar celulite orbital.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Acuidade Visual
	  </div>
	  <div class="item item-text-wrap justify">
		- A secreção indica conjuntivite bacteriana.
	  </div>
	  <div class="item item-text-wrap justify">
		- A área de vermelhidão sólida é característica de hemorragia subconjuntival = identifique e documente se a margem superior da
		hemorragia é visível. Em caso negativo, o sangue pode ter feito trajeto para a frente, a partir de frente intracraniana, embora
		isso seja extremamente raro e, em geral, decorrente de traumatismo craniano ou de hemorragia subaracnoide. A aparência pode ser
		alarmante, com prolapso de conjuntiva sobre a pálpebra inferior.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Esclera
	  </div>
	  <div class="item item-text-wrap justify">
		- Área segmentar de inflamação sobre o "branco do olho" indica episclerite: é uma inflamação da camada superficial da esclera. As
		características são: ausência de secreção, ligeira irritação, recorrência frequente.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Córnea, pupila e fundo de olho
	  </div>
	  <div class="item item-text-wrap justify">
		- São, via de regra, normais nos casos de hemorragia subconjuntival, conjuntivite, episclerite e reação alérgica.
	  </div>
  </div>

</ion-content>
