<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Externo
	  </div>
	  <div class="item item-text-wrap justify">
	    - Procurar sinais de trauma em especial queimaduras químicas na face.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Olhos proptóticos e protuberantes, olhar fixo: doença tireóidea.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Acuidade Visual
	  </div>
	  <div class="item item-text-wrap justify">
		- Reduzidos por lacrimejamento e blefaroespasmo (olhos bem fechados)
	  </div>
	  <div class="item item-text-wrap justify">
		- Instile uma gota de anestésico em presença de blefaroespasmo. Alivia o desconforto
		e permite examinar melhor.
	  </div>
	  <div class="item item-text-wrap justify">
		- A conjuntivite raramente leva à redução substancial de visão, ao passo que a doença ocular tireóidea pode produzir grave perda
		visual por exposição da córnea ou compressão do nervo óptico.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Percepção de cores
	  </div>
	  <div class="item item-text-wrap justify">
		- Se um objeto vermelho parece menos vermelho ou se uma luz é menos brilhante em um olho em comparação com outro, considere
		compressão do nervo óptico, em especial oculopatia tireóidea ou celulite orbital.
	  </div>
	  <div class="item item-text-wrap justify">
		- Verifique a visão de cores em cada olho separadamente.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Campos Visuais
	  </div>
	  <div class="item item-text-wrap justify">
		- Não é preciso verificar os campos visuais no atendimento primário, a menos que o paciente se queixe de perda de campo ou de
		suspeita de defeito neurológico.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Pupilas
	  </div>
	  <div class="item item-text-wrap justify">
		- Podem ser pequenas devido à inflamação ou dilatadas depois de trauma. Uma contusão ocular pode danificar o músculo esfíncter da íris.
	  </div>
	  <div class="item item-text-wrap justify">
		- O defeito de aferência das pupilas indica disfunção do nervo óptico, se houver hematoma orbital depois de trauma requer
		descompressão.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Pálpebras
	  </div>
	  <div class="item item-text-wrap justify">
		- A formação de crostas e eritema em torno dos cílios indica blefarite. Procure úlceras de córnea associadas.
	  </div>
	  <div class="item item-text-wrap justify">
		- Em geral, há um longo histórico de irritação ocular e palpebral antes do episódio agudo de blefarite.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
		  Conjuntiva e epitélio - casos graves
	  </div>
	  <div class="item item-text-wrap justify">
		- A conjuntiva injetada pode ser decorrente de patologia corneana ou intra-ocular, ao invés de mera conjuntivite.
	  </div>
	  <div class="item item-text-wrap justify">
		- Instile colírio de fluoresceína e procure abrasões na conjuntiva e na córnea.
	  </div>
	  <div class="item item-text-wrap justify">
		- A lesão química pode levar a manelas difusas quando é leve, ou a grande perda de conjuntiva e de epitílio corneano. Os vasos
		graves podem apresentar áreas brancas de tecido com aparência "normal" - devido à destruição completa de tecido vascular.
	  </div>
	  <div class="item item-text-wrap justify">
		- A quemose conjuntival bilateral na oculopatia tireóidea pode ser atribuída à conjuntivite ou à uma resposta alérgica.
	  </div>
	  <div class="item item-text-wrap justify">
		- A conjuntiva com edema expressivo na ausência de trauma pose ser decorrente de alergia ou doença ocular tireóidea.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Córnea
	  </div>
	  <div class="item item-text-wrap justify">
		- Faça coloração com fluorescência e procure corpos estranhos superficiais e subtarsais.
	  </div>
	  <div class="item item-text-wrap justify">
		- Ocorrem manchas difusas quando nas lesões químicas leves e nas lesões por ceratoconjuntivite viral, lentes de contato e com luz UV (luz
		de solda).
	  </div>
	  <div class="item item-text-wrap justify">
		- Pode haver grande perda epitelial nas lesões químicas.
	  </div>
	  <div class="item item-text-wrap justify">
		- As úlceras dendríticas bilaterais simultâneas são raras.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
		  Esclera
	  </div>
	  <div class="item item-text-wrap justify">
		- Difícil diferenciação entre afluxo de sangue conjuntival, episcleral e escleral.
	  </div>
	  <div class="item item-text-wrap justify">
		- Dor forte e afluxo de sangue indicam esclerite.
	  </div>
	  <div class="item item-text-wrap justify">
		- Em geral, a acuidade visual é reduzida na esclerite.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Câmara anterior
	  </div>
	  <div class="item item-text-wrap justify">
		- Procurar sinais de inflamação. Afluxo de sangue em torno da córnea e fotofobia indicam uveíte.
	  </div>
	  <div class="item item-text-wrap justify">
		- Uveíte bilateral aguda é incomum e raramente leva à olho vermelho.
	  </div>
	  <div class="item item-text-wrap justify">
		- O glaucoma agudo bilateral simultâneo é extremamente raro.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Fundo de olho
	  </div>
	  <div class="item item-text-wrap justify">
		- Fragmentos de vítreo podem ocorrer na uveíte, o paciente pode percebê-los como "moscas volantes".
	  </div>
  </div>
</ion-content>
