<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Externo
	  </div>
	  <div class="item item-text-wrap justify">
	    - Observe o olhar fixo associado à doença tireoideana.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pálpebras
	  </div>
	  <div class="item item-text-wrap justify">
		- Margem palpebral vermelha e espessada, com crostas nos cílios indicam blefarite e ocasionalmente um tumor palpebral, especialmente
		na ausência de cílios.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
		  Conjuntiva
	  </div>
	  <div class="item item-text-wrap justify">
		- Abuso crônico de álcool: aparência de sufusão.
	  </div>
	  <div class="item item-text-wrap justify">
		- Secreção: considerar conjuntivite crônica ou por clamídia em sexualmente ativos.
	  </div>
	  <div class="item item-text-wrap justify">
		- Artrite reumatóide: comum associação com olho seco e leva à diminuição do filme lacrimal contendo debris.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Córnea
	  </div>
	  <div class="item item-text-wrap justify">
		- Olho seco leva à exposição corneana e sensação de ardor - cora difusamente com fluoresceína.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Fundo de Olho
	  </div>
	  <div class="item item-text-wrap justify">
		- Se a visão estiver diminuída, examine o fundo de olho para qualquer anormalidade grosseira.
	  </div>
  </div>

</ion-content>
