<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Caspas ou crostas nos cílios: típico de blefarite
	  </div>

	  <div class="item item-text-wrap justify">
		- Artrite: olho seco é comum em idosos; pacientes usando antidepressivos também pode estar associado à olho seco.
	  </div>

	  <div class="item item-text-wrap justify">
		- Lentes de contato: deve-se considerar a intolerância à lente e a má higienização desta.
	  </div>

	  <div class="item item-text-wrap justify">
		- Secreção: conjuntivite crônica é uma coisa menos comum de olho vermelho crônico.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Relacionado ao trabalho: investigar ambiente de trabalho.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Histórico de doença tireoideana: comumente tratada como conjuntivite crônica até que corretamente diagnóstico.
	  </div>

</ion-content>
