<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Órbita e tecidos periorbitais
	  </div>
	  <div class="item item-text-wrap justify">
	    - Documente a presença de laceração periorbitária ou de eritema.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Palpe os rebordos orbitários para verificar dor ou crepitação por fraturas de rebordo.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Anote se houve uso de óculos de proteção, se for relevante.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pálpebras
	  </div>
	  <div class="item item-text-wrap justify">
		- Procure por cílios invertidos, lacerações ou locais de entrada de projéteis em alta velocidade.
	  </div>
	  <div class="item item-text-wrap justify">
		- Levante a pálpebra superior e verifique se há corpos estranhos subtarsais, mas não faça isso se houver suspeita de perfuração
		ocular.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Acuidade Visual
	  </div>
	  <div class="item item-text-wrap justify">
		- O paciente pode se encontrar incapacitado de abrir os olhos devido à dor e a fotofolia. Neste caso pingue uma gota de anestésico
		tópico, como proximetacaína 0,5%, para permitir que você continue com seu exame.
	  </div>
	  <div class="item item-text-wrap justify">
		- Não abra os olhos à força (principalmente se há suspeita de perfuração ocular).
	  </div>
	  <div class="item item-text-wrap justify">
		- Use óculos ou buraco estenopeico, se for necessário.
	  </div>
	  <div class="item item-text-wrap justify">
		- Em geral a visão está muito reduzida em casos de abrasão corneana, uso excessivo de lentes de contato e glaucoma agudo, porém
		pode estar apenas minimamente reduzida em casos de corpos estranhos corneanos, uveíte e episclerite.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pupilas
	  </div>
	  <div class="item item-text-wrap justify">
		- É comum constrição pupilar em casos de abrasão corneana e uveíte devido ao espasmo pupilar (causa da dor - usar cicloplégico).
	  </div>
	  <div class="item item-text-wrap justify">
		- Em caso de pupila fixa em meia midríase, córnea opaca, paciente idoso, presuma que há glaucoma agudo.
	  </div>
	  <div class="item item-text-wrap justify">
		- Distorção pupilar, história de trauma: presuma que há lesão penetrante.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Conjuntiva
	  </div>
	  <div class="item item-text-wrap justify">
		- Hemorragia subconjuntival ou quemose (inchaço) podem mascarar uma ruptura de esclera subjacente, enquanto que inflamação
		localizada indica que há episclerite.
	  </div>
	  <div class="item item-text-wrap justify">
		- Injeção subconjuntival circunferencial próxima à córnea e presença de fotofobia sugerem que há uveíte.
	  </div>
	  <div class="item item-text-wrap justify">
		- Examine os fórnices conjuntivais por corpos estranhos, inclusive lentes de contato. Everta a pálpebra superior.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Córnea
	  </div>
	  <div class="item item-text-wrap justify">
		- Evidencie as lesões como úlceras, corpos estranhos ou abrasões ao tingi-las com fluoresceína.
	  </div>
	  <div class="item item-text-wrap justify">
		- Corpos estranhos podem ser subtarsais, um indício é a presença de riscos corneanos verticais no seu aspecto superior.
	  </div>
	  <div class="item item-text-wrap justify">
		- Uma pupila distorcida indica a presença de ferimento perfurante de córnea ou esclera. Para verificar a presença de vazamento
		dos humor aquoso, pingue fluoresceína a 2% e observe sob a luz azul do cobalto. A ausência de vazamento não exclui que haja
		perfuração, se esta for auto-selante.
	  </div>
	  <div class="item item-text-wrap justify">
		- Uma córnea opacificada, em paciente idoso, comorbidades, mal estar geral, dor ocular extrema e perda visual sugere que haja
		glaucoma agudo.
	  </div>
	  <div class="item item-text-wrap justify">
		- Pontos brancos sobre a face interna da córnea podem aparecer em casos de uveíte (precipitados ceráticos - PKs).
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
	    Esclera
	  </div>
	  <div class="item item-text-wrap justify">
		- Injeção escleral em um olho agudamente doloroso e inchado pode indicar uveíte ou esclerite (pode manter o paciente acordado).
	  </div>
	  <div class="item item-text-wrap justify">
		- Episclerite está associada à dor leve.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Câmara Anterior
	  </div>
	  <div class="item item-text-wrap justify">
		- Espaço compreendido entre a pupila e a face posterior da córnea.
	  </div>
	  <div class="item item-text-wrap justify">
		- Uveíte - borramento da câmara anterior, que pode ser bem leve com úlceras inflamatórias visíveis à lâmpada de fenda.
	  </div>
	  <div class="item item-text-wrap justify">
		- Hifema (nível sanguíneo) - pode ser mínimo ou envolver toda a câmara anterior.
	  </div>
	  <div class="item item-text-wrap justify">
		- Hipópio (alta concentração de células inflamatórias visíveis) - pode estar associado a infecção intra ocular (muitas vezes pós-operatória)
		ou associado a causas infecciosas graves da córnea.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Cristalino
	  </div>
	  <div class="item item-text-wrap justify">
		- Uma catarata parcial ou total pode estar associada a lesão ocular penetrante se a história sugerir.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Fundo de Olho
	  </div>
	  <div class="item item-text-wrap justify">
		- Raramente é sítio de alguma doença responsável por olho vermelho agudo.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Exame Físico Geral
	  </div>
	  <div class="item item-text-wrap justify">
		- Verificar a presença de outras lesões.
	  </div>
	  <div class="item item-text-wrap justify">
		- Investigar doenças do tecido conjuntivo, como artrite reumatóide, que podem levar a olhos secos e úlceras de córnea, e sarcoidose,
		que pode levar à uveíte.
	  </div>
  </div>
</ion-content>
