<ion-content>
  <div class="item item-divider ">
	<i class="icon ion-checkmark"></i>&nbsp; Exame Físico
  </div>
  <div class="card">
	  <div class="item item-divider">
	    Externo
	  </div>
	  <div class="item item-text-wrap justify">
	    - Edemaciação das pálpebras ou dos tecidos periorbitais pode indicar celulite orbital, mas raramente é bilateral.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Acuidade Visual
	  </div>
	  <div class="item item-text-wrap justify">
		- Em geral não é afetada em nenhum dos quadros de conjuntivite, blefarite e reações alérgicas, mas pode ocorrer na culopatia tireóidea.
		  Uma redução mínima também pode ocorrer na conjuntivite grave.
	  </div>
  </div>

  <div class="card">
	  <div class="item item-divider">
		  Conjuntiva
	  </div>
	  <div class="item item-text-wrap justify">
		- A secreção indica conjuntivite bacteriana.
	  </div>
	  <div class="item item-text-wrap justify">
		- Tracione a pálpebra inferior e procure, na parte inferior da conjuntiva, no sulco entre o olho e a parte interna da pálpebra
		inferior, glóbulos transparentes acinzentados: são associados à infecção por clamídia, que deve consistir em suspeita na população
		sexualmente ativa.
	  </div>
	  <div class="item item-text-wrap justify">
		- Everta a pálpebra superior: ocorre subsuperfície injetada e áspera na conjuntivite alérgica/atópica.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Esclera
	  </div>
	  <div class="item item-text-wrap justify">
		- Sangue injetado nas regiões medial e lateral da esclera pode indicar oculopatia tireóidea, em especial se os olhos estiverem
		proeminentes.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Córnea
	  </div>
	  <div class="item item-text-wrap justify">
		- Core com fluoresceína e procure úlceras: as manchas difusas podem ser relacionadas com exposição decorrente de tireoidopatia.
	  </div>
	  <div class="item item-text-wrap justify">
		- As úlceras marginais são associadas a blefarite: podem apresentar-se com leve incômodo ao invés de ardor.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Pupilas
	  </div>
	  <div class="item item-text-wrap justify">
		- Um defeito pupilar eferente pode indicar compreensão do nervo óptico decorrente de tireoidopatia.
	  </div>
  </div>
  
  <div class="card">
	  <div class="item item-divider">
	    Fundo de Olho
	  </div>
	  <div class="item item-text-wrap justify">
		- A aparência do fundo de olho em geral é normal, embora seja possível observar, ocasionalmente, pregas na retina na tireoidopatia. 
	  </div>
  </div>

</ion-content>
