<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Tipo de secreção: secreção mucopresulenta associada à conjuntivite bacteriana: considerar clamídia na faixa etária sexualmente
	     ativa.
	  </div>

	  <div class="item item-text-wrap justify">
		- Atopia: os pacientes com atopia são propensos a reações alérgicas por numerosos alérgenos, em geral poeira doméstica e pólen.
	  </div>

	  <div class="item item-text-wrap justify">
		- Doença tireóidea conhecida ou sintomas e/ou sinais sugestivos de hipertireoidismo: tremor, ansiedade, mau humor, intolerância
		ao calor, palpitações, taquicardia ou perda de peso sugerem hiperatividade tireoidea.
	  </div>

</ion-content>
