<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-person"></i>&nbsp; Investigar
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - Substância química respingada no olho: Lave imediatamente com água abundante ou solução salina.
	  </div>

	  <div class="item item-text-wrap justify">
		- Solda/esmerilho: ocorre luz de solda (arco) com luz UV quando não se usam os óculos de proteção. O esmerilho pode causar corpos
		estranhos na córnea dos dois olhos.
	  </div>

	  <div class="item item-text-wrap justify">
		- Olho seco: muito comum e mais frequente em idosos que têm doenças do tecido conectivo.
	  </div>

	  <div class="item item-text-wrap justify">
		- Lentes de contato: o uso excessivo de lentes de contato e a falta de limpeza adequada com a solução indicada depois do uso são
		comuns.
	  </div>

	  <div class="item item-text-wrap justify">
		- Secreção ocular: via de regra, a conjuntivite é bastante irritável.
	  </div>

	  <div class="item item-text-wrap justify">
		- Pálpebras feridas e com prurido: a blefarite é comum, com frequência presente como ulceração, olho vermelho e pode estar associado
		a úlceras de córnea.
	  </div>

	  <div class="item item-text-wrap justify">
		- Alergia a colírios: pode estar associada a escoriações na pele e edema de pálpebra.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Resfriado ou gripe recente: a ceratoconjuntivite viral pode acompanhar as infecções das vias respiratórias superiores.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- Doença da tireóide: pode estar presente com quemose conjuntival, eritema e desconforto. Pode ocorrer em paciente eutireoideo.
	  </div>
	  
	  <div class="item item-text-wrap justify">
		- A fístula carótico-cavernosa é extremamente rara e pode ser decorrente de trauma ou espontânea, quando há hipertensão relacionada
		com a idade.
	  </div>
	
</ion-content>
