<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Visão dupla (diplopia)
	  </div>
	  
	  <div class="item item-divider">
	    Principais causas
	  </div>
	  <div class="item item-text-wrap justify">
	    - Isquêmica: idade avançada, hipertensão, diabetes.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Traumática.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Compressiva: orbitopatia distireoidiana, aneurisma afetando III ou VI par craniano, lesão expansiva.
	  </div>
	  
	  <div class="item item-divider">
	    Questionar o paciente
	  </div>
	  <div class="item item-text-wrap justify">
	    - Doloroso ou indolor - paralisia de III par súbita e dolorosa pode indicar aneurisma intracraniano.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Hipertenso, diabético ou arteriopata - geralmente associado à causa isquêmica, pode afetar III, IV e VI pares cranianos causando
	    diplopia. Pode ser doloroso ou não.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Visão dupla é horizontal, vertical ou mista.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Diplopia horizontal - imagens lado a lado - geralmente VI par craniano, pode ser descompensação de desvio antigo; em geral,
	    deterioração de estrabismo de longa duração; infarto ou massa cerebral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Diplopia vertical - imagens uma acima da outra, pode ser paralisia de IV par craniano (trauma, isquemia ou descompensação de desvio
	    antigo), paralisia de III par (isquemia ou secundário à aneurisma), orbitopatia distireoidiana , lesão expansiva posterior ao globo
	    ou fratura por choque.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Tireoidopatias (orbitopatia distireoidiana): pode surgir súbita ou gradualmente; sintomas podem ser tremor, perda de peso,
	    palpitação; diplopia por restrição mecânica, de músculos oculares extrínsecos; é comum em mulheres de meia-idade.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Trauma - trauma contuso pode causar fratura por choque da órbita; restrição da musculatura ocular extrínseca por hematoma ou
	    encarceramento de conteúdo orbitário; trauma cirúrgico - após correção de DR.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Parestesias ou história de neurite óptica - pacientes jovens, considerar doença desmielinizante.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Ptose - considerar miastenia  grave. Se for súbita, considerar III par, mesmo com pupila normal.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Diplopia permanece mesmo ocluindo um olho - diplopia monocular pode indicar catarata.
	  </div>
	  
	  <div class="item item-divider">
	    Exame
	  </div>
	  <div class="item item-text-wrap justify">
	    - Avaliar existência de trauma.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Medir AV.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Com o paciente olhando para frente: verifique alinhamento dos olhos; questionar se diplopia é vertical, horizontal ou ambas.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Movimentos oculares: limitação à abdução ou piora da diplopia horizontal ao solicitar que olhe para o lado - geralmente indica
	    paralisia de VI par craniano; olho desviado para baixo e para fora indica paralisia de III par - geralmente associado com ptose
	    unilateral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Se ptose unilateral - suspeitar de paralisia de III par - paralisia de III par dolorosa pode indicar aneurisma cerebral 
	    (emergência neurocirúrgica).
	  </div>
	  <div class="item item-text-wrap justify">
	    - Pupilas dilatadas suspeitar de paralisia de III par secundário a aneurisma cerebral; pupila normal - microangiopatia diabética /
	    paralisia de III par com pupila normal não exclui aneurisma cerebral.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Olhos proeminentes (proptose) - considerar orbitopatia distireoidiana e lesão retroorbitária.
	  </div>
	  <div class="item item-text-wrap justify">
	    - Sensibilidade corneana -  se reduzida ou perdida pode indicar primeira manifestação de neurinoma de acústico, especialmente se 
	    associado com paralisia ipsilateral de VI par e hipoacusia.
	  </div>
	  
</ion-content>
