<ion-content>
	
	  <div class="item item-divider ">
	    <i class="icon ion-checkmark"></i>&nbsp; Hesper zóster / Cobreiro
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - O herpes zóster, que compromete a divisão oftálmica do nervo trigêmeo ou o herpes-zóster oftálmico (HZO), é responsável por 10%
	    dessa afecção.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - A distribuição cutânea é característica, pode não ser muito visível ou pode ser grave, podendo ocasionar cicatrizes palpebrais
	    com entrópio e triquíase.
	  </div>
	  
	  <div class="item item-text-wrap justify">
	    - O envolvimento ocular inclui micro-úlceras corneanas, uveíte, glaucoma e neurite óptica. Pode não ocorrer mesmo se as pálpebras
	    estiverem envolvidas. Irite e úlcera dendritiforme são comuns.
	  </div>
	  
	  <div class="card">
		  <div class="item item-divider">
		    Tratamento
		  </div>
		  <div class="item item-text-wrap justify">
		    - Documente a acuidade visual em cada olho, usando um buraco estenopeico, se necessário.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Core a córnea com fluoresceína e procure ulcerações.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Examine a câmara anterior quanto a brilhos ou células que indiquem uveíte.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Tratar a uveíte com corticoide tópico 4x por dia e cicloplégico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - A pressão intra-ocular, em geral, fica elevada em decorrência da uveíte, adicione beta bloqueador tópico como timolol 0,5%,
		    2x por dia ou, em caso de contra-indicação (casos de asma), use 1 gota por dia de latanoprosta tópico.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Zovirax para herpes (800 mg 5x por dia durante 7 dias).
		  </div>
		  <div class="item item-text-wrap justify">
		    - A pomada oftálmica de zovirax não é necessária.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Analgesia-oral ou intramuscular, porque a dor decorrente de neuralgia pode ser intolerável. Às vezes a amitriptilina é eficaz,
		    25 mg 1x por dia durante um mês como dose de início (ficar atento à retenção urinária e à cardiotoxicidade).
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se apenas as pálpebras estiverem comprometidas e o olho estiver bem, trate a pele com creme emoliente para evitar a
		    formação de crostas; iniciar o tratamento com 800 mg de zovirax por via oral, 5x por dia durante 7 dias; analgesia via oral ou
		    parenteral.
		  </div>
		  <div class="item item-text-wrap justify">
		    - Se a analgesia simples falhar: estimulação nervosa transcutânea; amitriptilina; carbamazepina,
		    100 mg à noite por via oral. Pode sobrevir anestesia corneana. Verifique passando um tecido macio em um ponto e tocando
		    suavemente à córnea. Aproxime-se do olho pelo lado, não pela frente, para que o paciente não veja sua aproximação e pisque.
		  </div>
	   </div>

</ion-content>
