/* Empty. Add your own CSS if you like */

.strong{
	font-weight: bold;	
}

.justify{
	text-align: justify;
}

.remedio{
	cursor: pointer; 
	text-decoration: underline;
}

.item-avatar i:first-child, .item-avatar
.item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; 
}

.conduta {
    vertical-align:middle;
    margin-top:8px !important;
    margin-bottom:0px;
}

.popup-buttons .button:last-child{
    border-color: #0a9ec7;
    background-color: #11c1f3;
}
